.app-footer {
  color: $color-base;
  font-size: $font-size-sm;
  line-height: $font-size-lg;
  padding: 30px 0;
}
.footer-text {
}
.footer-link {
  color: $link-color-dark;
}
.footer-navbar {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: -3px;
  &__item {
    a {
      color: $link-color-dark;
      padding: 6px 0;
      display: inline-block;
    }
  }
}
.footer-brand {
  img {
    max-width: 100%;
    height: auto;
  }
}
.copyright {
  margin-bottom: 18px;
}
.analitics {
  padding-top: 12px;
  padding-bottom: 18px;
}
.footer-brand {
  display: block;
  float: right;
  margin-top: 6px;
}
@media screen and (max-width: $screen-sm-max) {
  .footer-brand {
    display: none;
  }
}
