.app {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}
.wrap-content {
  min-height: 345px;
}
.app-header,
.app-content {
  position: relative;
}
.app-content {
  height: 100%;
}
.header-top {
  width: 100%;
  min-height: 21px;
  padding-top: 15px;
  padding-bottom: 15px;
  &__inner {
    max-width: 1280px;
    width: auto;
    margin: 0 auto;
    @include clearfix;
  }
}
.dropdown {
  position: relative;
}
.open {
  > .dropdown-menu {
    display: block;
  }
  > a {
    outline: 0;
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: $font-size-base;
  text-align: left;
  background-color: $btn-default-bg;
  border: 1px solid $btn-default-border;
  border-radius: $input-border-radius;
  a {
    background-color: $white;
    color: $color-base;
    height: auto;
    display: block;
    padding: 0 10px 10px;
    text-transform: uppercase;
    &+ a {
      margin-top: 5px;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
.app-header-wrap {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__inner {
    height: 174px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 94px;
    margin: 0 auto;
  }
  &__slogan-wrap {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 32px;
  }
  &__slogan {
    background-color: rgba($seporate-color-menu, 0.8);
    font-size: 22px;
    line-height: 100%;
    color: $white;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 14px;
  }
}
.header-search {
  @include clearfix;
  &__inp {
    background-color: $white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 50px;
    padding: 6px;
    margin-right: 162px;
    input {
      width: 100%;
      height: 38px;
      padding-left: 14px;
      padding-right: 14px;
      font-size: $font-size-h6;
      line-height: $line-height-base;
      border: 0 none;
      &:focus {
        outline: 0 none;
      }
    }
  }
  &__submit {
    width: 166px;
    height: 50px;
    float: right;
  }
}
.navbar-top-toggle {
  border: 2px solid $bgcolor-menu;
  border-radius: 4px;
  position: relative;
  float: right;
  padding: 6px;
  background-color: $white;
  background-image: none;
  &:focus {
    outline: 0;
  }
  .icon-bar {
    background-color: $bgcolor-menu;
    display: block;
    width: 23px;
    height: 5px;
    &+ .icon-bar {
      margin-top: 3px;
    }
    &--first {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    &--last {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
.navbar-brand {
  display: inline-block;
  vertical-align: top;
  > img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: $screen-md-min) {
  .navbar-top-toggle {
    display: none;
  }
  .header-search {
    &__submit {
      .icon-search {
        display: none;
      }
    }
  }
}
.ico-caret {
  display: none;
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $white transparent transparent transparent;
  }
}
@media screen and (max-width: $screen-xs-max) {
  .app {
    min-width: 320px;
  }
  .navbar-brand {
    width: 208px;
  }
  .app-header-wrap {
    &__inner {
      height: auto;
      min-height: 74px;
      padding: 18px 2px;
    }
    &__slogan-wrap {
      position: static;
      margin-bottom: 10px;
    }
    &__slogan {
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 16px;
    }
  }
  .header-search {
    &__inp {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      height: 41px;
      padding: 3px;
      margin-right: 45px;
      input {
        height: 34px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: $font-size-base;
      }
    }
    &__submit {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      width: 45px;
      height: 41px;
      padding: 5px;
      span {
        display: none;
      }
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .app-header-wrap {
    &__inner {
      height: 124px;
      padding-top: 50px;
      padding-left: 2px;
      padding-right: 2px;
    }
    &__slogan-wrap {
      top: 14px;
    }
    &__slogan {
      font-size: 16px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
