.breadcrumb-container {
  
}
.breadcrumb {
  list-style: none;
  padding: 10px 10px 10px 0;
  margin: 0;
  li {
    color: $bgcolor-menu;
    font-size: $font-size-sm;
    display: inline-block;
    vertical-align: top;
    > a {
      color: $gray-lighter;
    }
  }
}
