.catalog-list-full {
  &__heading {
    .sort {
      float: right;
    }
    @include clearfix;
  }
  &__footer {
    padding-top: 20px;
  }
  &__item {
    border: 1px solid $catalog-border;
    &+ .catalog-list-full__item {
      margin-top: -1px;
    }
  }
}
.catalog-full-item {
  $full-width: 980;
  display: table;
  table-layout: fixed;
  width: 100%;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  [class*=catalog-full-item__col-]{
    display: table-cell;
    vertical-align: top;
  }
  &__col-media {
    width: percentage(168 / $full-width);
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__col-content {
    width: percentage(600 / $full-width);
    padding-top: 5px;
  }
  &__col-price {
    text-align: right;
    width: percentage(212 / $full-width);
    padding-right: 25px;
  }
  &__title {
    color: $link-color-dark;
    font-size: $font-size-catalog-title;
    font-family: $font-roboto-reg;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 4px;
  }
  &__info {
    color: $gray-lighter;
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    margin-bottom: 22px;
    p {
      margin-bottom: 0;
      &+ p {
        margin-top: 3px;
      }
    }
  }
  &__price {
    font-size: $font-size-catalog-title;
    font-family: $font-roboto-reg;
    color: $black;
    margin-top: 8px;
  }
  &__vat {
    font-size: $font-size-md;
    color: $gray-lighter;
  }
}
@media screen and (max-width: $screen-xs-max){
  .catalog-list-full__heading {
    .sort {
      float: none;
      clear: left;
    }
  }
  .catalog-full-item {
    padding-left: 10px;
    padding-right: 10px;
    [class*=catalog-full-item__col-]{
      display: block;
    }
  }
  .catalog-full-item__col-media,
  .catalog-full-item__col-content,
  .catalog-full-item__col-price {
    width: 100%;
  }
  .catalog-full-item__col-price {
    text-align: left;
    padding-right: 0;
  }
}
