.error-page {
  width: 100%;
  display: table;
  table-layout: fixed;
  &__col {
    width: 70%;
    display: table-cell;
    vertical-align: middle;
  }
  &__media {
    width: 30%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__content {
    padding-left: 30px;
  }
  &__info {
    margin-top: 30px;
  }
}
@media screen and (max-width: $screen-xs-max){
  .error-page__col {
    width: 100%;
    display: block;
  }
  .error-page__content {
    padding-left: 0;
  }
  .error-page__info {
    margin-top: 15px;
  }
}
