.fancybox-skin {
  background-color: $white;
  border-radius: 0;
}
.fancybox-close {
  top: -50px;
  right: -50px;
  @include sprite-2x($sprite-fancy-close, $sprite-fancy-close);
}
.fancybox-nav {
  $width: nth($sprite-slider-left-arrow, 5);
  span {
    margin-top: ceil($width / -2);
    visibility: visible;
  }
}
.fancybox-prev {
  span {
    left: -40px;
    @include sprite-2x($sprite-slider-left-arrow, $sprite-slider-left-arrow);
    &:hover {
      @include sprite-2x($sprite-slider-left-arrow-hover, $sprite-slider-left-arrow-hover);
    }
  }
}

.fancybox-next {
  span {
    right: -40px;
    @include sprite-2x($sprite-slider-right-arrow, $sprite-slider-right-arrow);
    &:hover {
      @include sprite-2x($sprite-slider-right-arrow-hover, $sprite-slider-right-arrow-hover);
    }
  }
}
.fancybox-nav:hover span {
  visibility: visible;
}
@media screen and (max-width: $screen-sm-max) {
  .fancybox-close {
    top: -30px;
    right: 5px;
    @include sprite-2x($sprite-fancy-close-xs, $sprite-fancy-close-xs);
  }
  .fancybox-nav {
    width: 10px;
    span {
      visibility: hidden;
    }
  }
}
