input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

@mixin form-control-focus($color: $white) {
  $color-rgba: rgba(red($color), green($color), blue($color), 0.6);
  &:focus {
    border-color: $color-rgba;
    outline: 0 none;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color-rgba);
  }
}

.form-control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-input-vertical $padding-input-horizontal;
  font-size: $font-size-md;
  line-height: $line-height-base;
  color: $gray-dark;
  background-color: $white;
  background-image: none;
  border: 1px solid $input-border;
  // Placeholder
  @include placeholder;

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0 none;
    background-color: transparent;
  }

  &[disabled],
  &[readonly] {
    background-color: $pager-border;
    opacity: 1;
  }

  &[disabled] {
    cursor: $cursor-disabled;
  }
  @include form-control-focus($link-color-dark);
}

textarea.form-control {
  height: auto;
  resize: vertical;
  min-height: 80px;
}

.form-control-lock {
  display: block;
  width: 100%;
  min-height: $input-height-sm;
  padding: $padding-input-vertical 0;
  font-size: $font-size-md;
  line-height: $line-height-base;
  color: $gray-dark;
  background-color: $white;
  span {
    color: $black-lighter;
    margin-left: 5px;
  }
}

input[type="search"] {
  -webkit-appearance: none;
}

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.control-label {
  color: $btn-seller-bg;
  font-size: $font-size-catalog-title;
  font-family: $font-roboto-bold;
  font-weight: normal;
  padding-top: 10px;
  &.control-label--top {
    padding-top: 0;
    margin-bottom: 15px;
  }
}

.control-label-edit {
  color: $btn-seller-bg;
  font-size: $font-size-md;
}
a.control-label-edit {
  color: $link-color-dark;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    display: inline-block;
    vertical-align: top;
    min-height: $line-height-computed;
    line-height: $font-size-lg;
    font-size: $font-size-md;
    color: $gray-lighter;
    padding-left: 24px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  position: absolute;
  top: 50%;
  margin-left: 2px;
  margin-top: -5px;
}
.radio-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  top: 50%;
  margin-left: -22px;
  margin-top: -5px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-height: $line-height-computed;
  font-size: $font-size-md;
  line-height: 24px;
  padding-left: 24px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

.radio-inline,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: $cursor-disabled;
    }
  }
}

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  &:after {
    @include sprite-2x($sprite-checkbox, $sprite-checkbox);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    z-index: 1;
  }
}

.checkbox,
.checkbox-inline {
  input {
    &:checked {
      &+ label {
        &:after {
          @include sprite-2x($sprite-checkbox-checked, $sprite-checkbox-checked);
        }
      }
    }
  }
  /*&.disabled {
    input {
      &:checked {
        &+ label {
          &:after {
            @include sprite-2x($sprite-check-disabled, $sprite-check-disabled);
          }
        }
      }
    }
  }*/
}

/*.radio,
.radio-inline {
  input {
    &:checked {
      &+ label {
        &:after {
          @include sprite-2x($sprite-radio-checked, $sprite-radio-checked);
        }
      }
    }
  }
  &.disabled {
    input {
      &:checked {
        &+ label {
          &:after {
            @include sprite-2x($sprite-radio-disabled, $sprite-radio-disabled);
          }
        }
      }
    }
  }
}*/

.lt-ie9 {
  .radio,
  .radio-inline,
  .checkbox,
  .checkbox-inline {
    label {
      &:after {
        display: none;
      }
    }
  }
}

.form-horizontal {
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    color: $white;
  }

  .radio,
  .checkbox {
    min-height: 27px;
  }

  .form-group {
    @include make-row;
  }
}

.error-message {
  margin-top: 5px;
  margin-bottom: 5px;
  display: none;
}

.has-error {
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .error-message,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: $error-color;
  }
  .form-control {
    border-color: $error-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: $error-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($error-color, 10%);
    }
  }
  .error-message {
    display: block;
  }
}

.custom-select {
  background-color: $white;
  border: 1px solid $input-border;
  border-radius: 3px;
  min-height: 40px;
  color: $gray-dark;
  cursor: pointer;
  font-size: $font-size-lg;
  text-overflow: clip;
  line-height: $line-height-large;
  padding: 6px 12px;
  position: relative;
  $color-rgba: rgba($link-color-dark, 0.6);
  &[aria-expanded="true"] {
    border-color: $color-rgba;
    outline: 0 none;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color-rgba);
  }
  .caret {
    border-color: $link-color-dark transparent transparent;
    border-width: $caret-width-large $caret-width-large 0;
    border-bottom-width: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -2px;
  }
}

//== scroller
/*.selecter-options .scroller-handle,
.scroller-handle {
  border-color: rgba($color-ccc, 0.5);
  background-color: rgba($color-ccc, 0.5);
}

.scroll-select {
  .caret {
    right: 12px;
  }
  .scroller-bar {
    width: 26px;
  }
  .scroller-handle {
    border-color: $color-gray-fcfcfc;
    width: 8px;
    right: 10px;
  }
}

.selecter {
  &.focus {
    .selecter-selected {
      $color-rgba: rgba(red($color-blue-lighter), green($color-blue-lighter), blue($color-blue-lighter), 0.6);
      border-color: $color-blue-lighter;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
    }
  }
}
.selecter.has-error {
  .selecter-selected {
    border-color: $error-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: $error-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($error-color, 10%);
    }
  }
}*/

.form-fieldset {
  padding-top: 15px;
  padding-bottom: 15px;
  &+ .form-fieldset {
    border-top: 1px solid $catalog-separate;
  }
}
@media screen and (max-width: $screen-xs-max){
  .form-fieldset {
    padding-top: 15px;
  }
  .control-label {
    padding-top: 0;
    margin-bottom: 10px;
  }
  .control-label-edit {
    display: inline-block;
    margin-bottom: 10px;
  }
  .error-message {
    margin-bottom: 0;
  }
  .clone-this-wrapper {
    margin-top: 20px;
  }
}
@media (min-width: $screen-lg-min){
  .form-fieldset {
    margin-top: 26px;
  }
}
