[class^=icon-]{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before {
    content: " ";
    display: block;
  }
}
[class^=svg-icon-]{
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before {
    content: " ";
    display: block;
    margin-left: -1.2em;
    margin-top: -1.1em;
  }
}
.icon-search {
  &:before {
    @include sprite-2x($sprite-i-search, $sprite-i-search);
  }
}
.icon-user {
  &:before {
    @include sprite-2x($sprite-ico-user, $sprite-ico-user);
  }
}

.svg-user-call {
  &:before {
    @include sprite-svg(ico-user-call);
  }
}
