.section-news {
  
}
.section-news-item {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  &__media {
    width: 100%;
    height: 125px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    &:after {
      background: url('../i/newsbg.png') repeat-x 0 100% transparent;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: none;
    }
  }
  &__content {
    
  }
  &__title {
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    color: $news-title;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  &__info {
    font-size: $font-size-sm;
    text-transform: uppercase;
    color: $link-color;
    a {
      color: inherit;
      &:hover,
      &:focus {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
.catalog-nav {
  position: relative;
  &__item {
    &.active,
    &:hover, {
      .catalog-nav-target {
        color: $link-color-dark;
      }
    }
    &.active {
      .catalog-nav-target {
        cursor: default;
        &:after {
          width: 100%;
        }
      }
    }
  }
  &__arrow {
    @include sprite-2x($sprite-catalog-nav-arrow, $sprite-catalog-nav-arrow);
    position: absolute;
    left: 0;
    bottom: -8px;
    display: none;
  }
}
.catalog-nav-target {
  color: $color-menu;
  font-size: $font-size-h6;
  cursor: pointer;
  padding-right: ceil($gutter-width / 2);
  position: relative;
  &:after {
    background-color: $link-color-dark;
    width: 0;
    height: 3px;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    transition: width .15s linear 0s;
  }
}
.catalog-pane {
  &__item {
    display: none;
    &.active {
      display: block;
    }
  }
}
.catalog-subnavbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  li {
    > a {
      color: $catalog-title;
      font-size: $font-size-md;
      line-height: ceil($font-size-md + 2px);
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
    }
  }
}
.catalog-list {
  &__item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.catalog-item {
  text-align: center;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  &__media {
    margin-bottom: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__info {
    color: $catalog-title;
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
  }
}
.tender {
  background: url("../i/bg-tender.jpg") no-repeat 100% 0 #e7e8eb;
  background-size: auto 100%;
  color: $btn-seller-bg;
  margin-top: 40px;
  &__container {
    padding-top: 30px;
  }
  &__title {
    font-size: $font-size-tender-title;
    font-family: $font-roboto-bold;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  &__overlay {
    background-color: rgba($white, 0.55);
  }
}
.tender-content {
  min-height: 174px;
  padding: 15px 20px 0;
  &__header {
    font-size: $font-size-catalog-title;
    font-family: $font-roboto-bold;
  }
  &__info {
    line-height: $line-height-computed;
    margin-top: 6px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: $screen-xs-max){
  .catalog-nav-target {
    border-bottom: 2px solid $catalog-separate;
    padding-bottom: 2px;
    padding-top: 12px;
  }
  .catalog-list {
    display: none;
  }
  .catalog-pane,
  .catalog-nav__arrow {
    display: none !important;
  }
  .catalog-item {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    &__media {
      display: none;
    }
  }
  .section-news {
    margin-top: 20px;
  }
  .tender {
    background-position: 0 0;
    margin-top: 20px;
    &__title {
      font-size: $font-size-h3;
    }
  }
  
}
@media (min-width: $screen-sm-min){
  .catalog {
    margin-top: 14px;
  }
  .catalog-nav {
    border-bottom: 3px solid $catalog-separate;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
  }
  .catalog-subnavbar {
    display: none !important;
  }
  .catalog-list {
    overflow: hidden;
    &__item {
      height: 166px;
      margin-top: 22px;
      position: relative;
      padding-top: 18px;
      &:before {
        content: "";
        width: 0;
        height: 144px;
        border-left: 3px solid $catalog-separate;
        position: absolute;
        left: -3px;
        top: 0;
      }
    }
  }
  .section-news-item {
    &__content {
      padding-left: 16px;
      padding-right: 16px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
    }
    &__media {
      &:after {
        display: block;
      }
    }
    &__title {
      font-size: $font-size-h5;
      line-height: $font-size-h4;
      color: $white;
      margin-bottom: 5px;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .section-news-item {
    height: 176px;
    margin-top: 10px;
    margin-bottom: 10px;
    &__media {
      height: 176px;
    }
    &__content {
      bottom: 20px;
    }
    &--big {
      height: 228px;
      .section-news-item__media {
        height: 228px;
      }
    }
  }
  .tender {
    background-position: 0 0;
  }
}

@media (min-width: $screen-md-min){
  .section-news-item {
    height: 216px;
    margin-top: 16px;
    margin-bottom: 16px;
    &__media {
      height: 216px;
    }
    &__content {
      bottom: 30px;
    }
    &--big {
      height: 268px;
      .section-news-item__media {
        height: 268px;
      }
    }
  }
  .catalog-nav-target {
    &:after {
      margin-top: 2px;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
  .tender {
    &__container {
      padding-left: 18px;
      padding-top: 60px;
    }
    &__title {
      min-height: 142px;
    }
  }
}
