.left-nav {
  font-size: $font-size-md;
  line-height: $line-height-computed;
  &__heading {
    padding-top: 11px;
  }
  &__content {
    padding-top: 24px;
  }
  &__footer {
    padding-top: 7px;
  }
  &__title {
    color: $color-menu;
    text-transform: uppercase;;
  }
  &__subtitle {
    color: $color-menu;
  }
}
.left-nav-fieldset {
  @include clearfix;
  .left-nav-list {
    margin-top: 7px;
  }
  .checkbox {
    margin-top: 0;
    margin-bottom: 5px;
    label {
      line-height: $line-height-base;
    }
  }
  &+ .left-nav-fieldset {
    margin-top: 22px;
  }
}
.left-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    
  }
  &__link {
    color: $gray-lighter;
    &:hover {
      color: $link-color-dark;
      text-decoration: none;
    }
    .active > & {
      color: $link-color-dark;
    }
  }
}
