.app-header-nav {
  width: 100%;
  height: 100%;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  &.in {
    overflow-y: auto;
  }
}
.navbar-toggle {
  background-color: $seporate-color-menu;
  font-size: $font-size-h6;
  line-height: 100%;
  color: $white;
  padding: 18px 14px 10px;
  border: 0 none;
  border-bottom: 1px solid $seporate-color-menu;
}

.main-navbar-container {
  margin: 0 auto;
  max-width: 1000px;
}

.main-navbar {
  font-size: 0;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  > li {
    display: inline-block;
    vertical-align: middle;
    > a {
      color: $color-menu;
      display: block;
      font-family: $font-roboto-reg;
      font-size: $font-size-h6;
      margin: 0 8px;
      padding: 9px 0;
      &:hover {
        color: $link-hover-color;
      }
    }
    &.active {
      > a {
        color: $link-hover-color;
      }
    }
  }
}
.main-menu-inner {
  overflow: hidden;
  @include clearfix;
}
.navbar-target--login {
  .icon-user {
    display: none;
  }
}
@media screen and (max-width: $screen-sm-max) {
  .app-header-nav {
    background-color: $bgcolor-menu;
    width: 280px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-touch-menu;
    transition: transform 0.15s ease-out;
    transform: translate(100%, 0);
    .navbar-toggle {
      width: 100%;
      text-align: left;
    }
    &.in {
      transform: translate(0, 0);
    }
    > .container {
      padding: 0;
    }
  }
  .main-navbar {
    margin: 0;
    > li {
      display: block;
      width: 100%;
    }
    .navbar-target {
      margin: 0;
      padding: 13px 14px 10px;
      font-size: $font-size-h6;
      line-height: $font-size-h6;
      color: $white;
      border-bottom: 1px solid $seporate-color-menu;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .app-header-nav {
    width: 414px;
  }
  .main-navbar {
    .navbar-target {
      margin: 0;
      padding: 19px 36px 12px;
      font-size: $font-size-h6;
      line-height: 1.2;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .navbar-toggle {
    line-height: 1.2;
    padding: 19px 36px 12px;
  }
}
@media (min-width: $screen-md-min){
  .app-header-nav {
    width: auto;
    float: right;
  }
  .main-navbar {
    float: right;
    > li {
      > a {
        margin-left: 36px;
        margin-right: 0;
      }
      &:hover,
      &.active {
        > a {
          text-decoration: none;
        }
      }
      > .navbar-target--login {
        color: $bgcolor-menu;
        position: relative;
        padding-left: 38px;
        .icon-user {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -14px;
        }
      }
    }
  }
}
