.modal-open {
  overflow: hidden;
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &.fade {
    .modal-dialog {
      transition: transform 0.3s ease-out;
      transform: translate(0, -25%);
    }
  }
  &.in {
    .modal-dialog {
      transform: translate(0, 10%);
    }
  }
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  @media (max-width: $screen-xs-max) {
    &--lg {
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    &--lg {
      width: 700px;
      margin: 0 auto;
    }
  }
  @media (min-width: $screen-md-min) {
    &--lg {
      width: 1020px;
      margin: 0 auto;
    }
  }
}
.modal-content {
  position: relative;
  //background-color: $bgcolor-menu;
  background-clip: padding-box;
  color: $white;
  &__title {
    color: $white;
    font-family: $font-roboto-light;
    font-size: $font-size-h4;
    line-height: ceil($font-size-h4 + 2px);
    margin-top: 16px;
    margin-bottom: 28px;
  }
  &__subtitle {
    color: $white;
    font-size: $font-size-h6;
    line-height: $line-height-content;
  }
}
.modal-content-header {
  position: relative;
  &__inner {
    min-height: 134px;
    position: relative;
  }
  .close {
    display: block;
    width: $sprite-popup-close-width;
    height: $sprite-popup-close-height;
    @include sprite-2x($sprite-popup-close, $sprite-popup-close);
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
  }
}
.modal-content-body {
  position: relative;
  padding: 15px 50px 40px;
  &__header {
    
  }
  &__content {
    border-top: 1px solid rgba($white, 0.05);
    padding-top: 22px;
    padding-bottom: 15px;
    margin-top: 28px;
    font-size: $font-size-base;
    line-height: $font-size-h3;
  }
  &__footer {
    border-top: 1px solid rgba($white, 0.05);
    padding-top: 15px;
  }
}
.modal-links-item {
  padding-top: 22px;
  &__title {
    font-size: $font-size-lg;
    line-height: $font-size-h6;
    font-family: $font-roboto-bold;
  }
  &__text {
    list-style: none;
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
    li {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    a {
      font-size: $font-size-sm;
      text-decoration: none;
    }
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  z-index: $zindex-backdrop;
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: 0.75;
  }
}
@media (min-width: $screen-sm-min){
  .modal-links-item {
    min-height: 220px;
  }
}
@media screen and (max-width: $screen-xs-max) {
  .modal.in .modal-dialog {
    transform: translate(0, 0);
  }
  .modal-content-header {
    &__inner {
      min-height: 100px;
    }
  }
  .modal-content-body {
    padding: 15px;
  }
  .modal-content__title {
    font-size: $font-size-h3;
    line-height: $line-height-content;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .modal-content__subtitle {
    font-size: $font-size-base;
    line-height: $font-size-lg;
  }
  .modal-content-body__content {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .modal-content-body__footer {
    padding-top: 10px;
  }
  .modal-links-item {
    padding-top: 10px;
  }
  .modal-links-item__text {
    margin-top: 5px;
  }
}
