.news-list {
  &__date {
    color: $news-date;
    font-size: $font-size-xs;
    line-height: 100%;
    text-align: right;
    padding-right: 8px;
    padding-top: 2px;
  }
  &__title {
    color: $news-title;
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    padding-top: 4px;
  }
  &__target {
    color: $news-category;
    font-size: $font-size-xs;
    line-height: 100%;
    text-transform: uppercase;
  }
}
.news-list-item {
  margin-top: 20px;
  margin-bottom: 20px;
  &__media {
    > img {
      width: 100%;
      height: auto;
    }
  }
  &__content {
    padding-top: 2px;
  }
}
.news-tags {
  font-size: $font-size-md;
  line-height: 100%;
  color: $bgcolor-menu;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  a {
    color: inherit;
    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
  }
}
.news-date {
  color: $gray-lighter;
  font-size: $font-size-md;
  line-height: ceil($font-size-md + 2px);
  display: inline-block;
  vertical-align: middle;
}
