.tab-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid $catalog-separate;
  &__item {
    position: relative;
    &:after {
      background-color: $link-color-dark;
      width: 0;
      height: 2px;
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      transition: width 0.15s linear 0s;
    }
    &.active,
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
.tab-nav-handler {
  color: $color-menu;
  .active & {
    color: $link-color-dark;
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.tab-content {
  > .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}
.sort {
  font-size: 0;
  line-height: 1;
  &__item {
    display: inline-block;
    vertical-align: middle;
    &+ .sort__item {
      margin-left: 8px;
    }
  }
}
.sort-target {
  position: relative;
  padding-right: 14px;
  font-size: $font-size-md;
  line-height: ceil($font-size-md + 2px);
  color: $gray-lighter;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:after {
    $height: nth($sprite-arrow-drop-xs, 6);
    content: "";
    display: block;
    @include sprite-2x($sprite-arrow-drop-xs, $sprite-arrow-drop-xs);
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: ceil($height / -2);
  }
  &.active {
    &:after {
      @include sprite-2x($sprite-arrow-open-xs, $sprite-arrow-open-xs);
    }
  }
}
.filter {
  font-size: 0;
  line-height: 1;
  &__item {
    display: inline-block;
    vertical-align: middle;
    &+ .filter__item {
      margin-left: 8px;
    }
  }
}
.pager-container {
  width: 100%;
  margin: 20px 0;
}
.pager-controls {
  &__prev,
  &__next {
    border: 1px solid $pager-border;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    &:hover {
      border-color: $link-color-dark;
    }
    &:before {
      content: "";
      display: inline-block;
    }
  }
  &__prev {
    &:before {
      @include sprite-2x($sprite-pager-prev, $sprite-pager-prev);
    }
    &:hover {
      &:before {
        @include sprite-2x($sprite-pager-prev-hover, $sprite-pager-prev-hover);
      }
    }
  }
  &__next {
    &:before {
      @include sprite-2x($sprite-pager-next, $sprite-pager-next);
    }
    &:hover {
      &:before {
        @include sprite-2x($sprite-pager-next-hover, $sprite-pager-next-hover);
      }
    }
  }
}

.pager {
    font-size: 0;
    line-height: 1;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    > a,
    > span {
      width: 34px;
      height: 34px;
      border: 1px solid $pager-border;
      font-size: $font-size-md;
      display: inline-block;
      padding: 0;
      color: $pager-border;
      line-height: 30px;
      &:hover {
        background-color: $link-color-dark;
        border-color: $link-color-dark;
        text-decoration: none;
      }
    }
    &.active {
      > a, > span {
        background-color: $link-color-dark;
        border-color: $link-color-dark;
        text-decoration: none;
      }
    }
  }
}
