.personal {
  margin-top: 34px;
}
.personal-info {
  padding-top: 38px;
  &__title {
    font-size: $font-size-catalog-title;
    line-height: $font-size-h5;
    font-family: $font-roboto-bold;
    color: $btn-seller-bg;
    margin-bottom: 6px;
  }
  &__text {
    font-size: $font-size-md;
    line-height: $font-size-catalog-title;
    color: $gray-lighter;
  }
  .btn {
    margin-top: 28px;
  }
}
.personal-nav {
  position: relative;
  &__item {
    &.active,
    &:hover, {
      .personal-nav-target {
        color: $link-color-dark;
      }
    }
    &.active {
      .personal-nav-target {
        cursor: default;
        &:after {
          width: 100%;
        }
      }
    }
  }
}
.personal-content {
  
}
.personal-nav-target {
  display: block;
  font-size: $font-size-h6;
  position: relative;
  padding-right: 8px;
  cursor: pointer;
  color: #1a2819;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:after {
    content: '';
    background-color: $link-color-dark;
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: width 0.15s linear 0s;
  }
}
.list-collapse {
  .panel {
    margin-bottom: 12px;
    &+ .panel {
      margin-top: 5px;
    }
  }
}
.list-collapse-handle {
  display: inline-block;
  vertical-align: top;
  color: $link-color-dark;
  &:before {
    color: $link-color-dark;
  }
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
.list-collapse-body {
  padding-left: 14px;
  margin-top: 2px;
  color: $collapse-text;
}
@media screen and (max-width: $screen-xs-max){
  .personal-nav-target {
    border-bottom: 2px solid $catalog-separate;
    padding-bottom: 2px;
    padding-top: 12px;
  }
}
@media (min-width: $screen-xs-min){
  .personal-nav {
    border-bottom: 3px solid $catalog-separate;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
@media (min-width: $screen-sm-min){
  .personal-nav-target {
    &:after {
      margin-top: 2px;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
