.products-top {
  padding: 20px 0;
}
.products-top-list.slick-slider {
  margin-bottom: 0;
  .slick-dots li.slick-active button:before {
    color: $bgcolor-menu;
  }
}
.products-top-item {
  padding: 6px;
  &__title {
    font-size: $font-size-md;
    line-height: $font-size-lg;
    color: $color-menu;
    margin-bottom: 10px;
  }
  &__inner {
    text-decoration: none;
    display: block;
    height: 120px;
    box-shadow: 1px 0 6px rgba(#d2d1d0, 0.75);
    padding: 5px 8px 5px 15px;
    position: relative;
    &:hover {
      text-decoration: none;
      .products-top-item__title {
        color: lighten($color-menu, 30);
      }
    }
    &.bg-hover-blue,
    &.bg-hover-red,
    &.bg-hover-green {
      &:after {
        background-size: cover;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.15s linear 0s;
      }
      &:hover {
        .products-top-item__title {
          color: $white;
        }
        &:after {
          opacity: 1;
        }
      }
    }
    &.bg-hover-blue {
      &:after {
        background: url('../i/baner-hover-blue.png') no-repeat 0 0;
      }
    }
    &.bg-hover-red {
      &:after {
        background: url('../i/baner-hover-red.png') no-repeat 0 0;
      }
    }
    &.bg-hover-green {
      &:after {
        background: url('../i/baner-hover-green.png') no-repeat 0 0;
      }
    }
  }
  &--img {
    .products-top-item__inner {
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 140px;
    }
  }
}
@media screen and (max-width: $screen-md-max){
  .products-top-list.slick-slider {
    margin-bottom: 30px;
  }
}
