.product-single {
  
}
.product-single-item__row {
  display: table;
  table-layout: fixed;
  width: 100%;
  align-items: center;
  [class*="product-single-item__col-"]{
    display: table-cell;
    vertical-align: top;
  }
}
.product-single-item {
  &__col-media {
    width: 280px;
  }
  &__col-content {
    width: percentage(($screen-lg - 280px) / $screen-lg);
  }
  &__media {
    border: 1px solid $catalog-separate;
    width: 246px;
    height: 200px;
    text-align: center;
    img > {
      max-width: 100%;
      height: auto;
    }
  }
  &__title {
    font-size: $font-size-h2;
    line-height: ceil($font-size-h2 + 2px);
    color: $color-menu;
    margin-bottom: 16px;
  }
  &__caption {
    
  }
  &__info {
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    color: $gray-lighter;
    padding-top: 14px;
    p {
      margin-bottom: 0;
      &+ p {
        margin-top: 16px;
      }
    }
  }
  &__footer-nav {
    font-size: $font-size-catalog-title;
    font-family: $font-roboto-reg;
    color: $btn-seller-bg;
    &.first {
      position: relative;
      &:after {
        content: "";
        @include sprite-2x($sprite-arrow-nav-next, $sprite-arrow-nav-next);
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
        margin-right: 2px;
      }
    }
  }
  &__footer-info {
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    color: $gray-lighter;
  }
}
.product-single-item-nav {
  &__handler {
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    a {
      display: block;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
.product-single-item-footer {
  @include clearfix;
  padding-top: 16px;
  padding-bottom: 24px;
  &__item {
    float: left;
    &+ .product-single-item-footer__item {
      margin-left: 10px;
    }
  }
}
.provide-list {
  &__heading {
    @include clearfix;
    .sort {
      float: left;
    }
    .filter {
      float: right;
    }
  }
}
.provide-list-container {
  &__item {
    border: 1px solid $catalog-border;
    &+ .provide-list-container__item {
      margin-top: 16px;
    }
  }
}
.provide-item {
  &__row {
    display: table;
    table-layout: fixed;
    width: 100%;
    align-items: center;
  }
  &__heading {
    display: table-cell;
    vertical-align: top;
    width: percentage(534px / $screen-lg);
    @include clearfix;
    padding-left: 20px;
    padding-bottom: 14px;
  }
  &__content {
    display: table-cell;
    vertical-align: top;
    width: percentage(($screen-lg - 534px) / $screen-lg);
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &__info {
    color: $gray-lighter;
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    margin-bottom: 22px;
    p {
      margin-bottom: 0;
      &+ p {
        margin-top: 16px;
      }
    }
  }
  &__footer {
    background-color: $provide-footer;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-left: percentage(208px / $screen-lg);
    padding-top: 10px;
    padding-bottom: 12px;
  }
}
.provide-item-price {
  width: percentage(196px / 534px);
  float: left;
  padding-top: 12px;
  &__title {
    font-size: $font-size-catalog-title;
    font-family: $font-roboto-reg;
    color: $black;
  }
  &__text {
    font-size: $font-size-md;
    color: $gray-lighter;
  }
  &.provide-item-price--null {
    .provide-item-price__title {
      font-size: $font-size-md;
      line-height: ceil($font-size-md + 2px);
      margin-top: 10px;
    }
    .provide-item-price__text {
      display: none;
    }
  }
}
.provide-item-thumbnail {
  width: percentage(326px / 534px);
  float: left;
  &__media {
    margin-top: 18px;
    margin-bottom: 12px;
    img {
      max-width: 100%;
      height: auto;
    }
    &+ .provide-item-thumbnail__title {
      margin-top: 0;
    }
  }
  &__title {
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    font-family: $font-roboto-reg;
    color: $black;
    margin-bottom: 3px;
    margin-top: 22px;
  }
  &__text {
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    color: $gray-lighter;
  }
}
.provide-item-footer-nav {
  &__item {
    display: inline-block;
    vertical-align: middle;
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    font-family: $font-roboto-reg;
    color: $black;
    &+ .provide-item-footer-nav__item {
      margin-left: 36px;
    }
  }
}
@media screen and (max-width: $screen-xs-max){
  .product-single-item__row {
    [class*='product-single-item__col-'] {
      display: block;
    }
  }
  .product-single-item__col-media,
  .product-single-item__col-content {
    width: 100%;
  }
  .product-single-item__media {
    margin: 0 auto 10px;
  }
  .product-single-item__title {
    font-size: $font-size-catalog-title;
    line-height: ceil($font-size-catalog-title + 2px);
  }
  .product-single-item-footer__item {
    margin-right: 10px;
    &+ .product-single-item-footer__item {
      margin-left: 0;
    }
  }
  .provide-list__heading {
    padding-bottom: 10px;
    .filter {
      float: none;
      clear: left;
    }
  }
  .provide-item__heading,
  .provide-item__content {
    width: 100%;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
  }
  .provide-item-price,
  .provide-item-thumbnail {
    width: 100%;
    float: none;
  }
  .provide-item__footer {
    padding-left: 12px;
    padding-right: 12px;
  }
  .provide-item-footer-nav__item {
    display: block;
    &+ .provide-item-footer-nav__item {
      margin-left: 0;
      margin-top: 8px;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .provide-item-price,
  .provide-item-thumbnail {
    width: 100%;
    float: none;
  }
  .provide-item__footer {
    padding-left: 20px;
  }
}
