.wrap-content {
  @include clearfix;
  &__right {
    width: 300px;
    padding-right: 35px;
    display: none;
    &.wrap-content__right--offset {
      width: 266px;
      padding-left: 60px;
      padding-right: 0;
    }
  }
  &__left {
    width: 100%;
  }
}
.section {
  &__title {
    color: $color-menu;
    font-size: $font-size-h2;
    line-height: $font-size-h2;
    @include clearfix;
  }
  &__subtitle {
    color: $gray-lighter;
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
    .news-tags,
    .news-date {
      margin-top: 16px;
    }
  }
  &__target {
    float: right;
    a {
      font-size: $font-size-md;
      line-height: 100%;
      color: $bgcolor-menu;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
  &__content {
    margin-top: 10px;
    font-size: $font-size-md;
    line-height: ceil($font-size-md + 2px);
  }
  &.section--offset-top {
    margin-top: 76px;
    .section__content {
      margin-top: 28px;
    }
  }
}
.section-nav {
  border-bottom: 2px solid $catalog-separate;
  padding-bottom: 7px;
  position: relative;
  padding-right: 220px;
  margin-bottom: 50px;
  .btn {
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}

.static-page {
  .img-left {
    float: left;
    margin-right: 30px;
    margin-bottom: 25px;
    @media screen and (max-width: $screen-xs-max){
      float: none;
      margin-right: auto;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .img-right {
    float: right;
    margin-left: 30px;
    margin-bottom: 25px;
    @media screen and (max-width: $screen-xs-max){
      float: none;
      margin-left: auto;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .img-center {
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.content-text {
  font-size: $font-size-lg;
  line-height: $line-height-content;
  margin-top: 25px;
  p + p {
    margin-top: 22px;
  }
  &.content-text--md {
    font-size: $font-size-md;
    line-height: $line-height-computed;
    p + p {
      margin-top: 20px;
    }
  }
}
.link {
  color: $link-color-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.text-mutter {
  color: $gray-lighter;
}
@media screen and (max-width: $screen-xs-max){
  .section-nav {
    padding: 0;
    margin-bottom: 20px;
    .btn {
      position: static;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .section {
    &.section--offset-top {
      margin-top: 30px;
      .section__content {
        margin-top: 15px;
      }
    }
    &__title {
      .btn--wide {
        width: auto;
      }
    }
  }
}
@media screen and (max-width: $screen-md-max){
  .left-nav {
    &__heading {
      padding-top: 0;
    }
    &__title {
      background-color: $seporate-color-menu;
      border-bottom: 1px solid $seporate-color-menu;
      padding: 19px 20px 12px;
      display: block;
      color: $white;
      cursor: pointer;
    }
    &__content {
      padding: 15px 20px;
    }
    &__footer {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__subtitle {
      color: $white;
    }
    .btn--green {
      @include button-variant($white, $btn-green-bg, $white);
    }
  }
  .left-nav-list__link {
    display: block;
    color: $white;
    padding-top: 4px;
    padding-bottom: 4px;
    &:focus {
      color: inherit;
    }
  }
  .wrap-content__right {
    width: 280px;
    background-color: $bgcolor-menu;
    color: $white;
    padding-right: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: $zindex-touch-menu;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    transform: translate(-100%, 0);
    transition: transform 0.15s ease-out;
    &.in {
      overflow-y: auto;
      transform: translate(0, 0);
    }
    &.wrap-content__right--offset {
      width: 280px;
      padding-left: 0;
    }
  }
}
@media (min-width: $screen-lg-min){
  .wrap-content {
    &__right {
      display: block;
      $width-aside: 300px;
      float: left;
      &+ .wrap-content__left {
        width: ceil($screen-lg-min - ($width-aside + $gutter-width));
        float: left;
      }
      &.wrap-content__right--offset {
        $width-aside: 266px;
        float: right;
        &+ .wrap-content__left {
          width: ceil($screen-lg-min - ($width-aside + $gutter-width));
        }
      }
    }
  }
}
