// Buttons
// --------------------------------------------------
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0 none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $color-base;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
  }

}
.btn-search {
  display: inline-block;
  margin-bottom: 0;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-h6, $line-height-base);
  @include button-variant($white, $bgcolor-menu, $bgcolor-menu);
  @include user-select(none);
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0 none;
    }
  }
}

.btn--default-transparent {
  @include button-variant($btn-seller-bg, transparent, $btn-default-border);
}
.btn--red {
  @include button-variant($white, $btn-red-bg, $btn-red-bg);
}
.btn--red-transparent {
  @include button-variant($btn-red-bg, transparent, $btn-red-bg);
}
.btn--green {
  @include button-variant($white, $btn-green-bg, $btn-green-bg);
}
.btn--green-transparent {
  @include button-variant($btn-green-bg, transparent, $btn-green-bg);
}
.btn--blue {
  @include button-variant($white, $btn-blue-bg, $btn-blue-bg);
}
.btn--xlg {
  @include button-size($padding-xlarge-vertical, $padding-xlarge-horizontal, $font-size-md, $line-height-large);
}
.btn--lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-md, $line-height-large);
}
.btn--xmd {
  @include button-size($padding-xmd-vertical, $padding-xmd-horizontal, $font-size-base, $line-height-md);
}
.btn--md {
  @include button-size($padding-md-vertical, $padding-md-horizontal, $font-size-base, $line-height-md);
}
.btn--sm {
  @include button-size($padding-sm-vertical, $padding-sm-horizontal, $font-size-sm, $line-height-base);
}
.btn--seller {
  font-size: $font-size-md;
  line-height: $line-height-base;
  padding: 1px 14px 2px;
  @include button-variant($btn-seller-bg, transparent, $btn-seller-border);
}
/*
.btn--xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xs, $line-height-small);
}*/
.btn--wide {
  width: 180px;
}

.btn--rounded {
  border-radius: $border-radius-base;
}

.full-width {
  width: 100%;
}

// Button groups
// --------------------------------------------------

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  > .btn {
    position: relative;
    float: left;
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }
  .btn + .link-target {
    padding: 3px 0 7px;
    float: left;
    margin-left: 30px;
  }
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group > .btn--rounded:first-child {
  margin-left: 0;
  &:not(:last-child) {
    @include border-right-radius(0);
  }
}

.btn-group > .btn:last-child:not(:first-child) {
  @include border-left-radius(0);
}

.btn-group > .btn-group {
  float: left;
}
.btn-group-inline {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group-inline + .btn-group-inline {
  margin-top: 0;
  margin-left: 10px;
}

// Sizing
//.btn-group-xs > .btn { @extend .btn--xs; }
//.btn-group-sm > .btn { @extend .btn--sm; }
.btn-group-lg > .btn { @extend .btn--lg; }


// Split button dropdowns
// ----------------------
.btn .caret {
  margin-left: 0;
}

// Carets in other button sizes
.btn--lg .caret {
  border-width: $caret-width-large $caret-width-large 0;
  border-bottom-width: 0;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > .btn,
  > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .btn-group .btn {
    width: 100%;
  }
}
@media screen and (max-width: $screen-xs-max) {
  .btn-group-justified {
    display: block;
  }
}
