@font-face {
  font-family: $font-roboto-bold;
  src: url($font-path + $font-roboto-bold + '.eot?v=#' + $font-icon-version);
  src: url($font-path + $font-roboto-bold + '.eot?#iefix&v=#') format('embedded-opentype'), url($font-path + $font-roboto-bold + '.woff?v=#' + $font-icon-version) format('woff'), url($font-path + $font-roboto-bold + '.ttf?v=#' + $font-icon-version) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: $font-roboto-reg;
  src: url($font-path + $font-roboto-reg + '.eot?v=#' + $font-icon-version);
  src: url($font-path + $font-roboto-reg + '.eot?#iefix&v=#' + $font-icon-version) format('embedded-opentype'), url($font-path + $font-roboto-reg + '.woff?v=#' + $font-icon-version) format('woff'), url($font-path + $font-roboto-reg + '.ttf?v=#' + $font-icon-version) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: $font-roboto-light;
  src: url($font-path + $font-roboto-light + '.eot?v=#' + $font-icon-version);
  src: url($font-path + $font-roboto-light + '.eot?#iefix&v=#' + $font-icon-version) format('embedded-opentype'), url($font-path + $font-roboto-light + '.woff?v=#' + $font-icon-version) format('woff'), url($font-path + $font-roboto-light + '.ttf?v=#' + $font-icon-version) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: $font-ptrouble;
  src: url($font-path + $font-ptrouble + '.eot?v=#' + $font-icon-version);
  src: url($font-path + $font-ptrouble + '.eot?#iefix&v=#' + $font-icon-version) format('embedded-opentype'), url($font-path + $font-ptrouble + '.woff?v=#' + $font-icon-version) format('woff'), url($font-path + $font-ptrouble + '.ttf?v=#' + $font-icon-version) format('truetype');
  font-weight: normal;
}
