// Grid
// --------------------------------------------------
.container {
  @include container-fixed;
  width: 100%;
  max-width: $screen-lg-min;
  padding-left: ceil($gutter-width / 2);
  padding-right: floor($gutter-width / 2);
  @media (max-width: $screen-xs-max) {
    width: 100%;
    padding-left: ceil($gutter-width);
    padding-right: floor($gutter-width);
  }
}

.row {
  @include make-row;
}

@include make-grid-columns;

// Extra small grid
@include make-grid(xs);
// Small grid
@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}

// Medium grid
@media (min-width: $screen-md-min) {
  @include make-grid(md);
}
// Large grid
@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}
