* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  width: 100%;
  height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 100%;
}

body {
  width: 100%;
  font-family: $font-roboto-light;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  @include clearfix;
}
// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
// Links
a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

/*p {
  font-size: inherit;
  line-height: ceil($gutter-width / 2);
}*/

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

.clearfix {
  @include clearfix;
}
.rubl {
  &:after {
    margin-left: 2px;
    font-family: $font-ptrouble;
    font-size: 110%;
    content: "5";
    display: inline-block;
  }
}
.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba($black, 0.1);
}
.border-top {
  border-top: 1px solid rgba($black, 0.1);
}
// Lists
// -------------------------
ul, ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul, ol {
    margin-bottom: 0;
  }
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  margin-left: -5px;
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.list-style-arrow {
  list-style-type: none;
  padding-left: 0;
  margin-left: ceil($gutter-width / -2);
  margin-right: floor($gutter-width / -2);
  > li {
    padding-left: ceil($gutter-width / 2);
    padding-right: floor($gutter-width / 2);
  }
  &__inner {
    position: relative;
    padding-left: 28px;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent #53a4d9;
      position: absolute;
      left: 0;
      top: 11px;
    }
  }
  &--col-2 {
    @include clearfix;
    > li {
      width: 50%;
      float: left;
    }
  }
}
.list-increment {
  padding: 0;
  list-style: none;
  counter-reset: item;
  &__item {
    counter-increment: item;
    position: relative;
    padding-left: 14px;
    &:before {
      content: counters(item, 'decimal') '.';
      font-size: $font-size-base;
      color: $link-color-dark;
      margin-left: -14px;
      position: absolute;
      top: 0;
      left: auto;
    }
  }
  &--lg {
    .list-increment__item {
      padding-left: 40px;
      font-size: 20px;
      line-height: 30px;
      &+ .list-increment__item {
        margin-top: 22px;
      }
      &:before {
        font-size: 30px;
        margin-left: -40px;
      }
    }
  }
}
// Content text
.text-xs {
  font-size: $font-size-xs;
  line-height: $font-size-base;
}
.text-sm {
  font-size: $font-size-md;
  line-height: $font-size-xlg;
}
.text-md {
  font-size: $font-size-xlg;
  font-family: $font-roboto-reg;
}
.text-lg {
  font-size: $font-size-lg;
  line-height: $line-height-content;
}
.section-transparent {
  background-color: $white;
}

//
// Component animations
// --------------------------------------------------

.fade {
  opacity: 0;
  transition: opacity .15s linear;

  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;
  visibility: hidden;
  &.in {
    display: block;
    visibility: visible;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}
