/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-arrow-drop-xs-name: 'sprite-arrow-drop-xs';
$sprite-arrow-drop-xs-x: 98px;
$sprite-arrow-drop-xs-y: 160px;
$sprite-arrow-drop-xs-offset-x: -98px;
$sprite-arrow-drop-xs-offset-y: -160px;
$sprite-arrow-drop-xs-width: 8px;
$sprite-arrow-drop-xs-height: 4px;
$sprite-arrow-drop-xs-total-width: 200px;
$sprite-arrow-drop-xs-total-height: 172px;
$sprite-arrow-drop-xs-image: '../i/sprites.png';
$sprite-arrow-drop-xs: (98px, 160px, -98px, -160px, 8px, 4px, 200px, 172px, '../i/sprites.png', 'sprite-arrow-drop-xs', );
$sprite-arrow-nav-next-name: 'sprite-arrow-nav-next';
$sprite-arrow-nav-next-x: 184px;
$sprite-arrow-nav-next-y: 52px;
$sprite-arrow-nav-next-offset-x: -184px;
$sprite-arrow-nav-next-offset-y: -52px;
$sprite-arrow-nav-next-width: 16px;
$sprite-arrow-nav-next-height: 14px;
$sprite-arrow-nav-next-total-width: 200px;
$sprite-arrow-nav-next-total-height: 172px;
$sprite-arrow-nav-next-image: '../i/sprites.png';
$sprite-arrow-nav-next: (184px, 52px, -184px, -52px, 16px, 14px, 200px, 172px, '../i/sprites.png', 'sprite-arrow-nav-next', );
$sprite-arrow-open-xs-name: 'sprite-arrow-open-xs';
$sprite-arrow-open-xs-x: 80px;
$sprite-arrow-open-xs-y: 160px;
$sprite-arrow-open-xs-offset-x: -80px;
$sprite-arrow-open-xs-offset-y: -160px;
$sprite-arrow-open-xs-width: 8px;
$sprite-arrow-open-xs-height: 4px;
$sprite-arrow-open-xs-total-width: 200px;
$sprite-arrow-open-xs-total-height: 172px;
$sprite-arrow-open-xs-image: '../i/sprites.png';
$sprite-arrow-open-xs: (80px, 160px, -80px, -160px, 8px, 4px, 200px, 172px, '../i/sprites.png', 'sprite-arrow-open-xs', );
$sprite-btn-arrow-black-name: 'sprite-btn-arrow-black';
$sprite-btn-arrow-black-x: 184px;
$sprite-btn-arrow-black-y: 98px;
$sprite-btn-arrow-black-offset-x: -184px;
$sprite-btn-arrow-black-offset-y: -98px;
$sprite-btn-arrow-black-width: 8px;
$sprite-btn-arrow-black-height: 12px;
$sprite-btn-arrow-black-total-width: 200px;
$sprite-btn-arrow-black-total-height: 172px;
$sprite-btn-arrow-black-image: '../i/sprites.png';
$sprite-btn-arrow-black: (184px, 98px, -184px, -98px, 8px, 12px, 200px, 172px, '../i/sprites.png', 'sprite-btn-arrow-black', );
$sprite-btn-arrow-gold-sm-name: 'sprite-btn-arrow-gold-sm';
$sprite-btn-arrow-gold-sm-x: 184px;
$sprite-btn-arrow-gold-sm-y: 140px;
$sprite-btn-arrow-gold-sm-offset-x: -184px;
$sprite-btn-arrow-gold-sm-offset-y: -140px;
$sprite-btn-arrow-gold-sm-width: 8px;
$sprite-btn-arrow-gold-sm-height: 10px;
$sprite-btn-arrow-gold-sm-total-width: 200px;
$sprite-btn-arrow-gold-sm-total-height: 172px;
$sprite-btn-arrow-gold-sm-image: '../i/sprites.png';
$sprite-btn-arrow-gold-sm: (184px, 140px, -184px, -140px, 8px, 10px, 200px, 172px, '../i/sprites.png', 'sprite-btn-arrow-gold-sm', );
$sprite-btn-arrow-white-sm-name: 'sprite-btn-arrow-white-sm';
$sprite-btn-arrow-white-sm-x: 184px;
$sprite-btn-arrow-white-sm-y: 120px;
$sprite-btn-arrow-white-sm-offset-x: -184px;
$sprite-btn-arrow-white-sm-offset-y: -120px;
$sprite-btn-arrow-white-sm-width: 8px;
$sprite-btn-arrow-white-sm-height: 10px;
$sprite-btn-arrow-white-sm-total-width: 200px;
$sprite-btn-arrow-white-sm-total-height: 172px;
$sprite-btn-arrow-white-sm-image: '../i/sprites.png';
$sprite-btn-arrow-white-sm: (184px, 120px, -184px, -120px, 8px, 10px, 200px, 172px, '../i/sprites.png', 'sprite-btn-arrow-white-sm', );
$sprite-btn-arrow-white-name: 'sprite-btn-arrow-white';
$sprite-btn-arrow-white-x: 184px;
$sprite-btn-arrow-white-y: 76px;
$sprite-btn-arrow-white-offset-x: -184px;
$sprite-btn-arrow-white-offset-y: -76px;
$sprite-btn-arrow-white-width: 8px;
$sprite-btn-arrow-white-height: 12px;
$sprite-btn-arrow-white-total-width: 200px;
$sprite-btn-arrow-white-total-height: 172px;
$sprite-btn-arrow-white-image: '../i/sprites.png';
$sprite-btn-arrow-white: (184px, 76px, -184px, -76px, 8px, 12px, 200px, 172px, '../i/sprites.png', 'sprite-btn-arrow-white', );
$sprite-catalog-nav-arrow-name: 'sprite-catalog-nav-arrow';
$sprite-catalog-nav-arrow-x: 122px;
$sprite-catalog-nav-arrow-y: 103px;
$sprite-catalog-nav-arrow-offset-x: -122px;
$sprite-catalog-nav-arrow-offset-y: -103px;
$sprite-catalog-nav-arrow-width: 8px;
$sprite-catalog-nav-arrow-height: 8px;
$sprite-catalog-nav-arrow-total-width: 200px;
$sprite-catalog-nav-arrow-total-height: 172px;
$sprite-catalog-nav-arrow-image: '../i/sprites.png';
$sprite-catalog-nav-arrow: (122px, 103px, -122px, -103px, 8px, 8px, 200px, 172px, '../i/sprites.png', 'sprite-catalog-nav-arrow', );
$sprite-check-checked-name: 'sprite-check-checked';
$sprite-check-checked-x: 73px;
$sprite-check-checked-y: 123px;
$sprite-check-checked-offset-x: -73px;
$sprite-check-checked-offset-y: -123px;
$sprite-check-checked-width: 17px;
$sprite-check-checked-height: 17px;
$sprite-check-checked-total-width: 200px;
$sprite-check-checked-total-height: 172px;
$sprite-check-checked-image: '../i/sprites.png';
$sprite-check-checked: (73px, 123px, -73px, -123px, 17px, 17px, 200px, 172px, '../i/sprites.png', 'sprite-check-checked', );
$sprite-check-disabled-name: 'sprite-check-disabled';
$sprite-check-disabled-x: 154px;
$sprite-check-disabled-y: 123px;
$sprite-check-disabled-offset-x: -154px;
$sprite-check-disabled-offset-y: -123px;
$sprite-check-disabled-width: 17px;
$sprite-check-disabled-height: 17px;
$sprite-check-disabled-total-width: 200px;
$sprite-check-disabled-total-height: 172px;
$sprite-check-disabled-image: '../i/sprites.png';
$sprite-check-disabled: (154px, 123px, -154px, -123px, 17px, 17px, 200px, 172px, '../i/sprites.png', 'sprite-check-disabled', );
$sprite-checkbox-checked-name: 'sprite-checkbox-checked';
$sprite-checkbox-checked-x: 184px;
$sprite-checkbox-checked-y: 26px;
$sprite-checkbox-checked-offset-x: -184px;
$sprite-checkbox-checked-offset-y: -26px;
$sprite-checkbox-checked-width: 16px;
$sprite-checkbox-checked-height: 16px;
$sprite-checkbox-checked-total-width: 200px;
$sprite-checkbox-checked-total-height: 172px;
$sprite-checkbox-checked-image: '../i/sprites.png';
$sprite-checkbox-checked: (184px, 26px, -184px, -26px, 16px, 16px, 200px, 172px, '../i/sprites.png', 'sprite-checkbox-checked', );
$sprite-checkbox-name: 'sprite-checkbox';
$sprite-checkbox-x: 184px;
$sprite-checkbox-y: 0px;
$sprite-checkbox-offset-x: -184px;
$sprite-checkbox-offset-y: 0px;
$sprite-checkbox-width: 16px;
$sprite-checkbox-height: 16px;
$sprite-checkbox-total-width: 200px;
$sprite-checkbox-total-height: 172px;
$sprite-checkbox-image: '../i/sprites.png';
$sprite-checkbox: (184px, 0px, -184px, 0px, 16px, 16px, 200px, 172px, '../i/sprites.png', 'sprite-checkbox', );
$sprite-fancy-close-xs-name: 'sprite-fancy-close-xs';
$sprite-fancy-close-xs-x: 98px;
$sprite-fancy-close-xs-y: 46px;
$sprite-fancy-close-xs-offset-x: -98px;
$sprite-fancy-close-xs-offset-y: -46px;
$sprite-fancy-close-xs-width: 24px;
$sprite-fancy-close-xs-height: 24px;
$sprite-fancy-close-xs-total-width: 200px;
$sprite-fancy-close-xs-total-height: 172px;
$sprite-fancy-close-xs-image: '../i/sprites.png';
$sprite-fancy-close-xs: (98px, 46px, -98px, -46px, 24px, 24px, 200px, 172px, '../i/sprites.png', 'sprite-fancy-close-xs', );
$sprite-fancy-close-name: 'sprite-fancy-close';
$sprite-fancy-close-x: 98px;
$sprite-fancy-close-y: 0px;
$sprite-fancy-close-offset-x: -98px;
$sprite-fancy-close-offset-y: 0px;
$sprite-fancy-close-width: 36px;
$sprite-fancy-close-height: 36px;
$sprite-fancy-close-total-width: 200px;
$sprite-fancy-close-total-height: 172px;
$sprite-fancy-close-image: '../i/sprites.png';
$sprite-fancy-close: (98px, 0px, -98px, 0px, 36px, 36px, 200px, 172px, '../i/sprites.png', 'sprite-fancy-close', );
$sprite-fancy-next-name: 'sprite-fancy-next';
$sprite-fancy-next-x: 49px;
$sprite-fancy-next-y: 0px;
$sprite-fancy-next-offset-x: -49px;
$sprite-fancy-next-offset-y: 0px;
$sprite-fancy-next-width: 39px;
$sprite-fancy-next-height: 71px;
$sprite-fancy-next-total-width: 200px;
$sprite-fancy-next-total-height: 172px;
$sprite-fancy-next-image: '../i/sprites.png';
$sprite-fancy-next: (49px, 0px, -49px, 0px, 39px, 71px, 200px, 172px, '../i/sprites.png', 'sprite-fancy-next', );
$sprite-fancy-prev-name: 'sprite-fancy-prev';
$sprite-fancy-prev-x: 0px;
$sprite-fancy-prev-y: 0px;
$sprite-fancy-prev-offset-x: 0px;
$sprite-fancy-prev-offset-y: 0px;
$sprite-fancy-prev-width: 39px;
$sprite-fancy-prev-height: 71px;
$sprite-fancy-prev-total-width: 200px;
$sprite-fancy-prev-total-height: 172px;
$sprite-fancy-prev-image: '../i/sprites.png';
$sprite-fancy-prev: (0px, 0px, 0px, 0px, 39px, 71px, 200px, 172px, '../i/sprites.png', 'sprite-fancy-prev', );
$sprite-i-search-name: 'sprite-i-search';
$sprite-i-search-x: 144px;
$sprite-i-search-y: 80px;
$sprite-i-search-offset-x: -144px;
$sprite-i-search-offset-y: -80px;
$sprite-i-search-width: 28px;
$sprite-i-search-height: 28px;
$sprite-i-search-total-width: 200px;
$sprite-i-search-total-height: 172px;
$sprite-i-search-image: '../i/sprites.png';
$sprite-i-search: (144px, 80px, -144px, -80px, 28px, 28px, 200px, 172px, '../i/sprites.png', 'sprite-i-search', );
$sprite-ico-user-name: 'sprite-ico-user';
$sprite-ico-user-x: 0px;
$sprite-ico-user-y: 123px;
$sprite-ico-user-offset-x: 0px;
$sprite-ico-user-offset-y: -123px;
$sprite-ico-user-width: 27px;
$sprite-ico-user-height: 27px;
$sprite-ico-user-total-width: 200px;
$sprite-ico-user-total-height: 172px;
$sprite-ico-user-image: '../i/sprites.png';
$sprite-ico-user: (0px, 123px, 0px, -123px, 27px, 27px, 200px, 172px, '../i/sprites.png', 'sprite-ico-user', );
$sprite-nav-close-name: 'sprite-nav-close';
$sprite-nav-close-x: 37px;
$sprite-nav-close-y: 123px;
$sprite-nav-close-offset-x: -37px;
$sprite-nav-close-offset-y: -123px;
$sprite-nav-close-width: 26px;
$sprite-nav-close-height: 26px;
$sprite-nav-close-total-width: 200px;
$sprite-nav-close-total-height: 172px;
$sprite-nav-close-image: '../i/sprites.png';
$sprite-nav-close: (37px, 123px, -37px, -123px, 26px, 26px, 200px, 172px, '../i/sprites.png', 'sprite-nav-close', );
$sprite-pager-next-hover-name: 'sprite-pager-next-hover';
$sprite-pager-next-hover-x: 32px;
$sprite-pager-next-hover-y: 160px;
$sprite-pager-next-hover-offset-x: -32px;
$sprite-pager-next-hover-offset-y: -160px;
$sprite-pager-next-hover-width: 6px;
$sprite-pager-next-hover-height: 10px;
$sprite-pager-next-hover-total-width: 200px;
$sprite-pager-next-hover-total-height: 172px;
$sprite-pager-next-hover-image: '../i/sprites.png';
$sprite-pager-next-hover: (32px, 160px, -32px, -160px, 6px, 10px, 200px, 172px, '../i/sprites.png', 'sprite-pager-next-hover', );
$sprite-pager-next-name: 'sprite-pager-next';
$sprite-pager-next-x: 48px;
$sprite-pager-next-y: 160px;
$sprite-pager-next-offset-x: -48px;
$sprite-pager-next-offset-y: -160px;
$sprite-pager-next-width: 6px;
$sprite-pager-next-height: 10px;
$sprite-pager-next-total-width: 200px;
$sprite-pager-next-total-height: 172px;
$sprite-pager-next-image: '../i/sprites.png';
$sprite-pager-next: (48px, 160px, -48px, -160px, 6px, 10px, 200px, 172px, '../i/sprites.png', 'sprite-pager-next', );
$sprite-pager-prev-hover-name: 'sprite-pager-prev-hover';
$sprite-pager-prev-hover-x: 64px;
$sprite-pager-prev-hover-y: 160px;
$sprite-pager-prev-hover-offset-x: -64px;
$sprite-pager-prev-hover-offset-y: -160px;
$sprite-pager-prev-hover-width: 6px;
$sprite-pager-prev-hover-height: 10px;
$sprite-pager-prev-hover-total-width: 200px;
$sprite-pager-prev-hover-total-height: 172px;
$sprite-pager-prev-hover-image: '../i/sprites.png';
$sprite-pager-prev-hover: (64px, 160px, -64px, -160px, 6px, 10px, 200px, 172px, '../i/sprites.png', 'sprite-pager-prev-hover', );
$sprite-pager-prev-name: 'sprite-pager-prev';
$sprite-pager-prev-x: 16px;
$sprite-pager-prev-y: 160px;
$sprite-pager-prev-offset-x: -16px;
$sprite-pager-prev-offset-y: -160px;
$sprite-pager-prev-width: 6px;
$sprite-pager-prev-height: 10px;
$sprite-pager-prev-total-width: 200px;
$sprite-pager-prev-total-height: 172px;
$sprite-pager-prev-image: '../i/sprites.png';
$sprite-pager-prev: (16px, 160px, -16px, -160px, 6px, 10px, 200px, 172px, '../i/sprites.png', 'sprite-pager-prev', );
$sprite-popup-close-name: 'sprite-popup-close';
$sprite-popup-close-x: 0px;
$sprite-popup-close-y: 81px;
$sprite-popup-close-offset-x: 0px;
$sprite-popup-close-offset-y: -81px;
$sprite-popup-close-width: 32px;
$sprite-popup-close-height: 32px;
$sprite-popup-close-total-width: 200px;
$sprite-popup-close-total-height: 172px;
$sprite-popup-close-image: '../i/sprites.png';
$sprite-popup-close: (0px, 81px, 0px, -81px, 32px, 32px, 200px, 172px, '../i/sprites.png', 'sprite-popup-close', );
$sprite-radio-checked-name: 'sprite-radio-checked';
$sprite-radio-checked-x: 127px;
$sprite-radio-checked-y: 123px;
$sprite-radio-checked-offset-x: -127px;
$sprite-radio-checked-offset-y: -123px;
$sprite-radio-checked-width: 17px;
$sprite-radio-checked-height: 17px;
$sprite-radio-checked-total-width: 200px;
$sprite-radio-checked-total-height: 172px;
$sprite-radio-checked-image: '../i/sprites.png';
$sprite-radio-checked: (127px, 123px, -127px, -123px, 17px, 17px, 200px, 172px, '../i/sprites.png', 'sprite-radio-checked', );
$sprite-radio-disabled-name: 'sprite-radio-disabled';
$sprite-radio-disabled-x: 100px;
$sprite-radio-disabled-y: 123px;
$sprite-radio-disabled-offset-x: -100px;
$sprite-radio-disabled-offset-y: -123px;
$sprite-radio-disabled-width: 17px;
$sprite-radio-disabled-height: 17px;
$sprite-radio-disabled-total-width: 200px;
$sprite-radio-disabled-total-height: 172px;
$sprite-radio-disabled-image: '../i/sprites.png';
$sprite-radio-disabled: (100px, 123px, -100px, -123px, 17px, 17px, 200px, 172px, '../i/sprites.png', 'sprite-radio-disabled', );
$sprite-slick-arrow-left-sm-name: 'sprite-slick-arrow-left-sm';
$sprite-slick-arrow-left-sm-x: 122px;
$sprite-slick-arrow-left-sm-y: 81px;
$sprite-slick-arrow-left-sm-offset-x: -122px;
$sprite-slick-arrow-left-sm-offset-y: -81px;
$sprite-slick-arrow-left-sm-width: 6px;
$sprite-slick-arrow-left-sm-height: 12px;
$sprite-slick-arrow-left-sm-total-width: 200px;
$sprite-slick-arrow-left-sm-total-height: 172px;
$sprite-slick-arrow-left-sm-image: '../i/sprites.png';
$sprite-slick-arrow-left-sm: (122px, 81px, -122px, -81px, 6px, 12px, 200px, 172px, '../i/sprites.png', 'sprite-slick-arrow-left-sm', );
$sprite-slick-arrow-right-sm-name: 'sprite-slick-arrow-right-sm';
$sprite-slick-arrow-right-sm-x: 0px;
$sprite-slick-arrow-right-sm-y: 160px;
$sprite-slick-arrow-right-sm-offset-x: 0px;
$sprite-slick-arrow-right-sm-offset-y: -160px;
$sprite-slick-arrow-right-sm-width: 6px;
$sprite-slick-arrow-right-sm-height: 12px;
$sprite-slick-arrow-right-sm-total-width: 200px;
$sprite-slick-arrow-right-sm-total-height: 172px;
$sprite-slick-arrow-right-sm-image: '../i/sprites.png';
$sprite-slick-arrow-right-sm: (0px, 160px, 0px, -160px, 6px, 12px, 200px, 172px, '../i/sprites.png', 'sprite-slick-arrow-right-sm', );
$sprite-slider-left-arrow-hover-name: 'sprite-slider-left-arrow-hover';
$sprite-slider-left-arrow-hover-x: 144px;
$sprite-slider-left-arrow-hover-y: 40px;
$sprite-slider-left-arrow-hover-offset-x: -144px;
$sprite-slider-left-arrow-hover-offset-y: -40px;
$sprite-slider-left-arrow-hover-width: 30px;
$sprite-slider-left-arrow-hover-height: 30px;
$sprite-slider-left-arrow-hover-total-width: 200px;
$sprite-slider-left-arrow-hover-total-height: 172px;
$sprite-slider-left-arrow-hover-image: '../i/sprites.png';
$sprite-slider-left-arrow-hover: (144px, 40px, -144px, -40px, 30px, 30px, 200px, 172px, '../i/sprites.png', 'sprite-slider-left-arrow-hover', );
$sprite-slider-left-arrow-name: 'sprite-slider-left-arrow';
$sprite-slider-left-arrow-x: 144px;
$sprite-slider-left-arrow-y: 0px;
$sprite-slider-left-arrow-offset-x: -144px;
$sprite-slider-left-arrow-offset-y: 0px;
$sprite-slider-left-arrow-width: 30px;
$sprite-slider-left-arrow-height: 30px;
$sprite-slider-left-arrow-total-width: 200px;
$sprite-slider-left-arrow-total-height: 172px;
$sprite-slider-left-arrow-image: '../i/sprites.png';
$sprite-slider-left-arrow: (144px, 0px, -144px, 0px, 30px, 30px, 200px, 172px, '../i/sprites.png', 'sprite-slider-left-arrow', );
$sprite-slider-right-arrow-hover-name: 'sprite-slider-right-arrow-hover';
$sprite-slider-right-arrow-hover-x: 82px;
$sprite-slider-right-arrow-hover-y: 81px;
$sprite-slider-right-arrow-hover-offset-x: -82px;
$sprite-slider-right-arrow-hover-offset-y: -81px;
$sprite-slider-right-arrow-hover-width: 30px;
$sprite-slider-right-arrow-hover-height: 30px;
$sprite-slider-right-arrow-hover-total-width: 200px;
$sprite-slider-right-arrow-hover-total-height: 172px;
$sprite-slider-right-arrow-hover-image: '../i/sprites.png';
$sprite-slider-right-arrow-hover: (82px, 81px, -82px, -81px, 30px, 30px, 200px, 172px, '../i/sprites.png', 'sprite-slider-right-arrow-hover', );
$sprite-slider-right-arrow-name: 'sprite-slider-right-arrow';
$sprite-slider-right-arrow-x: 42px;
$sprite-slider-right-arrow-y: 81px;
$sprite-slider-right-arrow-offset-x: -42px;
$sprite-slider-right-arrow-offset-y: -81px;
$sprite-slider-right-arrow-width: 30px;
$sprite-slider-right-arrow-height: 30px;
$sprite-slider-right-arrow-total-width: 200px;
$sprite-slider-right-arrow-total-height: 172px;
$sprite-slider-right-arrow-image: '../i/sprites.png';
$sprite-slider-right-arrow: (42px, 81px, -42px, -81px, 30px, 30px, 200px, 172px, '../i/sprites.png', 'sprite-slider-right-arrow', );
$spritesheet-width: 200px;
$spritesheet-height: 172px;
$spritesheet-image: '../i/sprites.png';
$spritesheet-sprites: ($sprite-arrow-drop-xs, $sprite-arrow-nav-next, $sprite-arrow-open-xs, $sprite-btn-arrow-black, $sprite-btn-arrow-gold-sm, $sprite-btn-arrow-white-sm, $sprite-btn-arrow-white, $sprite-catalog-nav-arrow, $sprite-check-checked, $sprite-check-disabled, $sprite-checkbox-checked, $sprite-checkbox, $sprite-fancy-close-xs, $sprite-fancy-close, $sprite-fancy-next, $sprite-fancy-prev, $sprite-i-search, $sprite-ico-user, $sprite-nav-close, $sprite-pager-next-hover, $sprite-pager-next, $sprite-pager-prev-hover, $sprite-pager-prev, $sprite-popup-close, $sprite-radio-checked, $sprite-radio-disabled, $sprite-slick-arrow-left-sm, $sprite-slick-arrow-right-sm, $sprite-slider-left-arrow-hover, $sprite-slider-left-arrow, $sprite-slider-right-arrow-hover, $sprite-slider-right-arrow, );
$spritesheet: (200px, 172px, '../i/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
