// Small screen / tablet
$screen-xs: 480px !default;
//** `$screen-xs-min`
$screen-xs-min: $screen-xs !default;
//** `$screen-sm`
$screen-sm: 768px !default;
$screen-sm-min:  $screen-sm !default;
//** `$screen-tablet`
$screen-tablet: $screen-sm-min !default;
// Medium screen / desktop
//** `$screen-md`
$screen-md:  1020px !default;
$screen-md-min: $screen-md !default;
//** `$screen-desktop`
$screen-desktop: $screen-md-min !default;
// Large screen / wide desktop
//** `$screen-lg`
$screen-lg: 1280px !default;
$screen-lg-min: $screen-lg !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//grid
$gutter-width: 16px !default;
$grid-columns: 12 !default;

//== Typography
$font-icon-version: 1.0 !default;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-path: "../fonts/" !default;
$font-roboto-bold: "robotocondensed-bold" !default;
$font-roboto-reg: "robotocondensed-regular" !default;
$font-roboto-light: "robotocondensed-light" !default;
$font-ptrouble: "PTRoubleSans" !default;
$font-size-xs: 11px !default;
$font-size-sm: 12px !default;
$font-size-base: 14px !default;
$font-size-md: 15px !default;
$font-size-lg: 16px !default;
$font-size-xlg: 17px !default;
$font-size-leftnav: 13px !default;
$font-size-catalog-title: 20px !default;
$font-size-tender-title: 40px !default;

$font-size-h1: 36px !default;
$font-size-h2: 30px !default;
$font-size-h3: 26px !default;
$font-size-h4: 24px !default;
$font-size-h5: 22px !default;
$font-size-h6: 18px !default;
$line-height-base: 1.428571429 !default;
$line-height-computed: floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-content: 25px !default;
$line-height-content-lg: 30px !default;
$headings-font-family: inherit !default;
$headings-font-weight: normal !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

//Colors
$white: #ffffff !default;
$black: #000000 !default;
$black-lighter: #0d0d0d !default;
$color-base: #474747 !default;
$gray: #666666 !default;
$gray-dark: #333333 !default;
$gray-lighter: #737373 !default;
$color-menu: #1a2819 !default;
$bgcolor-menu: #729b25 !default;
$seporate-color-menu: #54780f !default;
$link-color-dark: #719b20 !default;
$news-title: #1e1e1e !default;
$news-category: #a2ba3f !default;
$news-date: #a4a4a4 !default;
$catalog-title: #646c64 !default;
$catalog-border: #d3d6d8 !default;
$catalog-separate: #e5eef3 !default;
$pager-border: #dddddd !default;
$input-border: #bcbcbc !default;
$provide-footer: #f8f8f9 !default;
$collapse-text: #70706f !default;

$error-color: #fe5933 !default;


$link-color: #cbe369 !default;
$link-hover-color: darken(#cbe369, 20%) !default;
$link-hover-decoration: underline !default;
$link-active-color: $link-color !default;
$link-visited-color: #014f91 !default;

$thumbnail-caption-padding: 9px !default;

//== Input
$input-height-sm: 38px;
$input-height-base: 48px;
$padding-input-vertical: 6px !default;
$padding-input-horizontal: 12px !default;

$cursor-disabled: not-allowed !default;
$caret-width-base: 4px !default;
$caret-width-large: 5px !default;

//== Buttons
$padding-base-vertical: 4px !default;
$padding-base-horizontal: 25px !default;

$padding-sm-vertical: 2px !default;
$padding-sm-horizontal: 15px !default;

$padding-xmd-vertical: 9px !default;
$padding-xmd-horizontal: 28px !default;

$padding-md-vertical: 2px !default;
$padding-md-horizontal: 22px !default;
$line-height-md: 1.428571429 !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;
$line-height-small: 1.5 !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 28px !default;
$line-height-large: 1.3333333 !default;
$padding-xlarge-vertical: 13px !default;
$padding-xlarge-horizontal: 28px !default;

$border-radius-base: 4px !default;
$input-border-radius: 3px !default;
$btn-font-weight: normal !default;
$btn-default-bg: #f7f7f7 !default;
$btn-default-border: #e6e6e6 !default;
$btn-red-bg: #fe5933 !default;
$btn-red-border: #fe5933 !default;
$btn-green-bg: $link-color-dark !default;
$btn-green-border: $link-color-dark !default;
$btn-blue-bg: #3a99cf !default;
$btn-blue-border: #3a99cf !default;
$btn-default-border: #afafaf !default;
$btn-seller-bg: #262626 !default;
$btn-seller-border: $catalog-separate !default;

//== Z-index
$zindex-dropdown: 1000 !default;
$zindex-backdrop: 1010 !default;
$zindex-touch-menu: 1020 !default;
$zindex-modal: 1050 !default;
$form-group-margin-bottom: 22px !default;

//== Sprites svg
$mq-base-font-size: 14px !default;
