if(connonical_page == '')
	-var connonical_page = 'citibank'
script(src='https://www.citibank.ru/russia/js/tracking.js')
// Start SiteCatalyst code
script(src='https://www.citibank.ru/russia/js/catalyst_ru.js')
script.
	<!--
		function analitics(events, url){
			var loc, s_code;
			loc = window.location.host;
			loc = loc.toLowerCase();

			//if (loc.indexOf('citibank.') >= 0) {
			if (loc.indexOf('citi-invest.') >= 0) {
				s.pageName = '';
				s.server = '';
				s.channel = '';
				s.pageType = '';
				s.prop1 = '';
				s.prop2 = '';
				s.prop3 = '';
				s.prop4 = '';
				s.prop5 = '';
				s.campaign = '';
				s.state = '';
				s.zip = '';
				s.events = events;
				s.products = url;
				s.purchaseID = '';
				s.eVar1 = '';
				s.eVar2 = '';
				s.eVar3 = '';
				s.eVar4 = '';
				s.eVar5 = '';
				s_code = s.t();
				if (s_code) {
					document.write(s_code);
				}
			}
		}
		analitics('event6', '#{connonical_page}');
	//-->

script.
	<!--
		if (navigator.appVersion.indexOf('MSIE') >= 0) {
			document.write(unescape('%3C') + '!-' + '-');
		}
	//-->
noscript
	a(href="https://www.omniture.com", title="Web Analytics")
		img(src="https://devgundersen.112.2O7.net/b/ss/devgundersen/1/H.17--NS/0", height="1", width="1", border="0", alt="")
// /DO NOT REMOVE/
// End SiteCatalyst code
