.app-header-wrap(style="background-image: url('content/bg-header/frame-1.jpg')")
	.container
		.app-header-wrap__inner
			.container
				.app-header-wrap__slogan-wrap
					.app-header-wrap__slogan Продукты оптом от лучших производителей одним кликом
			form(action="", accept-charset="utf8")
				.header-search
					button.header-search__submit.btn-search(type="submit")
						i.icon-search
						span найти
					.header-search__inp
						input(type="text", placeholder="Поиск товара по каталогу")
