footer.app-footer
	.container
		.row
			.col-xs-12.col-sm-6.col-md-6
				.row
					.col-xs-12.col-sm-12.col-md-6
						.copyright.footer-text © produkty.biz, 2008–2016<br />Республика Беларусь
						a.footer-link(href="#") Контактная информация
					.col-xs-12.col-sm-12.col-md-6
						-var footer_menu = [{"title": "Разместить рекламу", "link": "#"}, {"title": "Наши рекламодатели", "link": "#"}, {"title": "Тендер", "link": "#"}, {"title": "О&nbsp;нас", "link": "#"}]
						ul.footer-navbar
							each val in footer_menu
								li.footer-navbar__item
									a(href=val.link) !{val.title} 
			.col-xs-12.col-sm-6.col-md-6
				.row
					.col-xs-12.col-sm-12.col-md-6
						a.btn.btn--red-transparent.btn--sm.btn--rounded(href="#") вход для рекламодателей
						.analitics.footer-text 2 995 посещений вчера <br />по&nbsp;независимым данным Google Analytics
						a.footer-link(href="mailto:reklama@produkty.biz") reklama@produkty.biz

					.col-xs-12.col-sm-12.col-md-6
						a.footer-brand(href="/")
							img(src="f/i/brand.jpg")
