.breadcrumb-container
	-var breadcrumbs_list_def = [{"url": "/", "title": "Главная"}, {"url": "about.html", "title": "О компании"}, {"url": "", "title": "Брендирование банковского оборудования"}]
	ol.breadcrumb
		each val in breadcrumbs_list.length ? breadcrumbs_list : breadcrumbs_list_def
			li
				if val.url
					a(href=val.url) #{val.title}
					|  -
				else
					| #{val.title}
