head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	block description
		meta(name='description', content='')
	block keywords
		meta(name='keywords', content='')
	block title
		title Produkty
	link(rel='shortcut icon', href='f/i/favicon.ico', type='image/x-icon')
	link(rel='icon', href='f/i/favicon.ico', type='image/x-icon')
	link(rel='canonical', href=connonical_page + '.html')

	link(rel='stylesheet', href='f/css/jquery.fs.selecter.css')
	link(rel='stylesheet', href='f/css/jquery.fs.scroller.css')
	link(rel='stylesheet', href='f/css/main.css')
	<!--[if IE 8]><link rel="stylesheet" href="f/css/ie_older.css"><![endif]-->
	<!--[if IE 8]><script type='text/javascript' src="f/js/css3-mediaqueries.js"></script><![endif]-->
	<!--[if IE 8]><script type='text/javascript' src="f/js/html5shiv.min.js"></script><![endif]-->
	<!--[if IE 8]><script type='text/javascript' src="f/js/respond.min.js"></script><![endif]-->
	<!--[if IE 8]><script type='text/javascript' src="f/js/selectivizr-min.js"></script><![endif]-->
