.header-top
	.container
		.header-top__inner
			.row
				.col-xs-12.col-sm-12.col-md-12
					a.navbar-brand(href="/")
						img(src="f/i/brand.jpg")
					button.navbar-top-toggle.collapsed(type="button")
						span.icon-bar.icon-bar--first
						span.icon-bar
						span.icon-bar.icon-bar--last
					.app-header-nav#navbar
						.visible-xs-block.visible-sm-block
							button.navbar-toggle.collapsed(type="button") назад
						nav.main-navbar-container
							if(active == "lk")
								ul.main-navbar
									li
										a.navbar-target(href="#") Товары и услуги
									li
										a.navbar-target(href="#") Поставщики
									li
										a.navbar-target(href="#") Новости
									li
										a.navbar-target(href="about.html") О нас
									li
										a.navbar-target(href="contacts.html") Контакты
									li
										a.navbar-target(href="#") Реклама
									li
										a.navbar-target.navbar-target--login(href="user.html")
											i.icon-user
											| Личный кабинет
									li
										a.navbar-target(href="#") Выйти
							else
								ul.main-navbar
									li
										a.navbar-target(href="#") Товары и услуги
									li
										a.navbar-target(href="#") Поставщики
									li
										a.navbar-target(href="#") Новости
									li
										a.navbar-target(href="about.html") О нас
									li
										a.navbar-target(href="contacts.html") Контакты
									li
										a.navbar-target(href="#") Реклама
									li
										a.navbar-target(href="login.html") Войти
