doctypehtml
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
block link
	-var active = '';
block disclamer_text
	-var disclamer = '';
block analitics
	-var connonical_page = ''
block breadcrumb
	-var breadcrumbs_list = [];

include head
body
	.app.main-page
		.app-content
			header.app-header
				include header-top.jade
				include app-header.jade
			.main-content
				block heading
				.wrap-content
					block content

		include app-footer.jade
	//include modal

	include scripts
	//block scripts
	//include analitics
