#popup-feedback.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Благодарим Вас за заполненную онлайн-заявку!
					p.modal-content__subtitle В&nbsp;ближайшее время наш сотрудник позвонит Вам, чтобы договориться о&nbsp;встрече в&nbsp;удобное для Вас время.
			//- 	.modal-content-body__content
			//- 		.row
			//- 			.col-xs-12.col-sm-6.col-md-6.col-lg-6
			//- 				p Круглосуточная сервисная телефонная линия Citigold Private Client:
			//- 				ul.list-unstyled
			//- 					li Москва: <b>+7 (495) 775-78-58</b>
			//- 					li Санкт-Петербург: <b>+7 (812) 346-78-58</b>
			//- 					li другие города РФ: <b>8 (800) 700-78-58</b>
			//- 			.col-xs-12.col-sm-6.col-md-6.col-lg-6
			//- 				p Мы&nbsp;будем рады видеть Вас в&nbsp;наших центрах Citigold Private Client в&nbsp;Москве и&nbsp;Санкт-Петербурге:
			//- 				.row
			//- 					.col-xs-12.col-sm-12.col-md-6.col-lg-6
			//- 						ul.list-unstyled
			//- 							li <b>Москва:</b>
			//- 							li ул. Петровка, д.&nbsp;7
			//- 							li Тел.: +7 (495) 589 26 77
			//- 					.col-xs-12.col-sm-12.col-md-6.col-lg-6
			//- 						ul.list-unstyled
			//- 							li <b>Санкт-Петербург:</b>
			//- 							li Итальянская&nbsp;ул., д.&nbsp;5
			//- 							li Тел.: +7 (812) 448 17 46
			//- 	.modal-content-body__footer
			//- 		.row
			//- 			mixin footer_links(_title, list)
			//- 				.modal-links-item
			//- 					.modal-links-item__title !{_title}
			//- 					ul.modal-links-item__text
			//- 						each val in list
			//- 							li
			//- 								a(href=val.href) !{val.text}
			//- 			.col-xs-12.col-sm-6.col-md-3.col-lg-3
			//- 				-var list = [{"href": "#", "text": "Trusted Advisory approach CitiPlanner"}, {"href": "#", "text": "Готовые решения"}, {"href": "#", "text": "Инвестиционный план"}, {"href": "#", "text": "Важная информация"}, {"href": "#", "text": "Инвестирование онлайн"}, {"href": "#", "text": "Комплексные продукты"}];
			//- 				+footer_links("Принципы инвестирования c&nbsp;Citi", list)
			//- 			.col-xs-12.col-sm-6.col-md-3.col-lg-3
			//- 				-var list = [{"href": "#", "text": "Операции с&nbsp;валютой"}, {"href": "#", "text": "Валютный опцион"}, {"href": "#", "text": "Валютная заявка"}];
			//- 				+footer_links("Валютные инструменты", list)
			//- 			.col-xs-12.col-sm-6.col-md-3.col-lg-3
			//- 				-var list = [{"href": "#", "text": "Акции и&nbsp;облигации российских эмитентов"}, {"href": "#", "text": "Российские ПИФы"}];
			//- 				+footer_links("Валютные инструменты", list)
			//- 			.col-xs-12.col-sm-6.col-md-3.col-lg-3
			//- 				-var list = [{"href": "#", "text": "Квалифицированный инвестор"}, {"href": "#", "text": "Акции и&nbsp;облигации иностранных эмитентов"}, {"href": "#", "text": "Международные ПИФы"}, {"href": "#", "text": "Структурированные ноты"}, {"href": "#", "text": "Наши партнёры"}];
			//- 				+footer_links("Глобальные инвестиции", list)
			//- .modal-content-footer
