.pager-container
	.pager-controls
		a.pager-controls__prev(href="#")
		ul.pager
			li.pager__item
				a(href="#") 1
			li.pager__item
				a(href="#") 2
			li.pager__item.active
				a(href="#") 3
			li.pager__item
				a(href="#") 4
		a.pager-controls__next(href="#")
