.wrap-content__right.wrap-content__right--offset
	.left-nav
		.left-nav__heading
			.left-nav__title.visible-xs-block.visible-sm-block.visible-md-block.js-menu-hidden Назад
			a.left-nav__title.visible-lg-inline-block(href="#") Все новости
		.left-nav__content
			ul.left-nav-list
				-var menu = [{'url': 'news.html', 'key': 'news', 'title': 'Актуально'}, {'url': 'business.html', 'key': 'business', 'title': 'Бизнес'}, {'url': 'exhibition.html', 'key': 'exhibition', 'title': 'Выставки'}, {'url': 'crop.html', 'key': 'crop', 'title': 'Ратсениеводство'}, {'url': 'animal.html', 'key': 'animal', 'title': 'Животноводство'}, {'url': 'review.html', 'key': 'review', 'title': 'Обзоры'}, {'url': 'advice.html', 'key': 'advice', 'title': 'Советы'}, {'url': 'technology.html', 'key': 'technology', 'title': 'Технологии'}, {'url': 'conference.html', 'key': 'conference', 'title': 'Конференции'}, {'url': 'officially.html', 'key': 'officially', 'title': 'Официально'}, {'url': 'legislation.html', 'key': 'legislation', 'title': 'Законодательство'}, {'url': 'incidents.html', 'key': 'incidents', 'title': 'Происшествия'}];
				each val in menu
					if(active === val.key)
						li.active
							span.left-nav-list__link #{val.title}
					else
						li
							a.left-nav-list__link(href=val.url, title=val.title) #{val.title}
		.left-nav__footer
			a.left-nav__subtitle(href="#") Новости компании
