extends ./includes/layout.jade

block link
	-var active = 'search';
block content
	.container
		.section
			.section__content
				.wrap-content__left
					.error-page
						.error-page__col.error-page__media
							img(src="f/i/not-found.jpg", alt="Страница не найдена")
						.error-page__col.error-page__content
							h1.section__title Страница не&nbsp;найдена
							.error-page__info.text-mutter Если вы&nbsp;уверены, что тут должно быть что-то полезное, <a class="link" href="#">напишите нам</a>.<br /> В&nbsp;письме не&nbsp;забудьте указать, где вы&nbsp;нашли ссылку на&nbsp;эту страницу.
