extends ./includes/layout.jade

block link
	-var active = 'about';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "", "title": "О нас"}]
		.wrap-content
			include ./includes/breadcrumbs
			.wrap-content__left
				.static-page
					.section
						.section__title О нас
						.section__content
							.content-text
								.list-increment.list-increment--lg
									.img-left
										img(src="content/about/prod-1.jpg", alt="")
									.list-increment__item Наша компания присутствует на рынке с 2010 года.
									.list-increment__item Мы готовы сотрудничать на выгодных для вас условиях, которые будут наиболее оптимальными и выгодными для вас.
									.list-increment__item Предлагая оптимальные и эффективные логистические решения, мы помогаем нашим партнёрам сэкономить время и деньги.
									.clearfix
									.img-right
										img(src="content/about/prod-2.jpg", alt="")
									.list-increment__item Мы контролируем качество нашей продукции, гарантируем, что каждый товар изготовлен качественно и по современным технологиям.
									.list-increment__item Вы можете предварительно убедится в качестве продукции, наличии сопроводительных документов, и только после этого оплатить поставку.
									.list-increment__item Мы идём на встречу постоянным клиентам и предоставляем отсрочку платежа, на основании подписанного договора, с удобными для клиента условиями оплаты.
