extends ./includes/layout.jade

block link
	-var active = 'catalog';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "#", "title": "Молочные продукты"}, {"url": "", "title": "Йогурты"}]
		.wrap-content
			include ./includes/breadcrumbs
			.section
				.section-nav
					.section__title Йогурты
					.section__subtitle 5 предложений
					.btn.btn--md.btn--rounded.btn--blue Разместить рекламу
				.section__content
					.wrap-content__right
						.left-nav
							.left-nav__heading
								.left-nav__title.visible-xs-block.visible-sm-block.visible-md-block.js-menu-hidden Назад
								.left-nav__title.visible-lg-block Указать параметры
							.left-nav__content
								.left-nav-fieldset
									.left-nav__subtitle.font-reg Жирность
									ul.left-nav-list
										-var list_items = [{"title": "1,5 %"}, {"title": "2,5 %"}, {"title": "2,6 %"}, {"title": "3,2 %"}, {"title": "3,6 %"}]
										-var id = "t1_";
										each val, index in list_items
											li.checkbox
												input(type="checkbox", val="", id=id+index)
												label(for=id+index) #{val.title}
								.left-nav-fieldset
									.left-nav__subtitle.font-reg Упаковка
									ul.left-nav-list
										-var list_items = [{"title": "Бутылка стеклянная"}, {"title": "Бутылка пластиковая"}, {"title": "Пакет асептический мягкий "}, {"title": "Пакет асептический твердый"}]
										-var id = "t2_";
										each val, index in list_items
											li.checkbox
												input(type="checkbox", val="", id=id+index)
												label(for=id+index) #{val.title}
								.left-nav-fieldset
									.left-nav__subtitle.font-reg Срок годности
									ul.left-nav-list
										-var list_items = [{"title": "10 суток"}, {"title": "20 суток"}, {"title": "3 месяца"}]
										-var id = "t3_";
										each val, index in list_items
											li.checkbox
												input(type="checkbox", val="", id=id+index)
												label(for=id+index) #{val.title}
								.left-nav-fieldset
									.left-nav__subtitle.font-reg Страна
									ul.left-nav-list
										-var list_items = [{"title": "Россия"}, {"title": "Беларусь"}]
										-var id = "t4_";
										each val, index in list_items
											li.checkbox
												input(type="checkbox", val="", id=id+index)
												label(for=id+index) #{val.title}
								.left-nav-fieldset
									.btn.btn--md.btn--rounded.btn--green Применить

					.wrap-content__left
						mixin cat_item(_src, _title, _list, _seller, _price)
							.catalog-list-full__item
								.catalog-full-item
									.catalog-full-item__col-media
										img(src=_src)
									.catalog-full-item__col-content
										a.catalog-full-item__title(href="#") !{_title}
										.catalog-full-item__info
											each val in _list
												p !{val.text}
										.btn.btn--seller #{_seller}
									.catalog-full-item__col-price
										.catalog-full-item__price #{"от " + _price + " руб."}
										.catalog-full-item__vat за упаковку с НДС
						.catalog-list-full
							.catalog-list-full__heading
								.section__target.pull-left.visible-xs-block.visible-sm-block.visible-md-block
									a.js-menu-collapse(href="#") Указать параметры
								.sort
									.sort__item
										.sort-target.active по цене
									.sort__item
										.sort-target по популярности
							.catalog-list-full__content
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-1.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-2.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-3.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-4.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
								-var list = [{"text": "Кол-во единиц в упаковке: 8. Жирность: 1,5 %. Срок годности 20 суток"}, {"text": "Вес единицы: 290г. Страна производства: Беларусь"}]
								+cat_item("content/catalog/full/img-5.jpg", "Напиток биойогуртный 1,5%", list, "1 продавец", "7 900")
							.catalog-list-full__footer
								.btn.btn--md.btn--rounded.btn--green еще 10 товаров
								.content-text.content-text--md
									p Йо́гу́рт  — кисломолочный продукт с повышенным содержанием обезжиренных веществ молока, изготовляемый путём сквашивания протосимбиотической смесью чистых культур Lactobacillus bulgaricus (болгарская палочка) и Streptococcus thermophilus (термофильный стрептококк), содержание которых в готовом продукте на конец срока годности составляет не менее 107 КОЕ (колониеобразующие единицы) в 1 г продукта (допускается добавление пищевых добавок, фруктов, овощей и продуктов их переработки)
									p Слово «йогурт» — турецкое (тур. yoğurt), и означает «сгущенный». Скифы и родственные им кочевые народы издавна перевозили молоко в бурдюках на спинах коней и ослов. Из воздуха и шерсти в продукт попадали бактерии, на жаре происходило брожение, а постоянная тряска довершала дело, превращая молоко в густой кислый напиток, который долго не портился и при этом сохранял все полезные свойства.
