extends ./includes/layout.jade

block link
	-var active = 'lk';
block content
	.container
		.section
			.section__content
				.wrap-content__left
					.personal
						.personal-nav
							.row.no-margin
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="user.html") Личные данные
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item.active
									a.personal-nav-target(href="#") Компания
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="faq.html") Техподдержка
						.personal-content
							.personal-info.js-company-add
								.personal-info__title Добро пожаловать во вкладку Компания!
								.personal-info__text На этой странице будут отображаться сведения о вашей компании. Вы также сможете отправлять заявки, используя контактные данные компании.
								.btn.btn--green.btn--xmd.btn--rounded.js-company-add-trigger Добавить компанию

							.js-company-fields(style="display: none;")
								.form-fieldset
									form.form-horizontal(autocomplete="off", action="")
										.row
											.col-xs-12.col-sm-4.col-md-3
												.control-label Данные компании
											.col-xs-12.col-sm-8.col-md-6
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="opf", placeholder="ОПФ (ООО, ИП, УП) *", type="text", name="opf", maxlength="100", tabindex="1", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="organization_name", placeholder="Название организации *", type="text", name="organization_name", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="activity", placeholder="Сфера деятельности", type="text", name="activity", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="unp", placeholder="УНП *", type="text", name="unp", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="city", placeholder="Город", type="text", name="city", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="number", placeholder="Индекс", type="text", name="number", maxlength="100", tabindex="2", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="address", placeholder="Адрес", type="text", name="address", maxlength="20", tabindex="3", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="email", placeholder="Почта", type="text", name="email", maxlength="20", tabindex="3", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="fax", placeholder="Факс", type="text", name="fax", maxlength="20", tabindex="3", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="phone", placeholder="Телефон", type="text", name="phone", maxlength="20", tabindex="4", value="")
													.col-xs-12.col-sm-4.col-md-4.clone-this-wrapper
														a.btn.btn--blue.btn--xlg(href="#") Добавить телефон
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														.btn-group-inline
															a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
														.btn-group-inline
															a.btn.btn--green-transparent.btn--lg.btn--rounded(href="#") Отменить
								.form-fieldset
									.row
										.col-xs-12.col-sm-12.col-md-12
											a.btn.btn--default-transparent.btn--xmd.btn--rounded(href="#") Удаление учетной записи
