extends ./includes/layout.jade

block link
	-var active = 'conference';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "", "title": "Новости"}]
		.wrap-content
			include ./includes/breadcrumbs
			include ./includes/right-menu-content
			.wrap-content__left
				.static-page
					.section
						.section__title Выиграй автомобиль, посетив строительную выставку &laquo;Белорусский дом. Весна-2016&raquo;
						.section__subtitle
							.news-tags
								a(href="#") конференции
							.news-date 23 февраля 2016 в 13:14
						.section__content
							.content-text
								p
									b Белорусский строительный сезон 2016-го года открывает 44-я выставочная неделя строительной индустрии, архитектуры, дизайна и отделочных материалов, которая пройдет со 2 по 4 марта в минском Дворце спорта. В рамках этого комплекса мероприятий состоятся тематические выставки «Белорусский дом. Весна» и «Евроремонт», а также архитектурно-строительный форум БЕЛБИЛД эволюция.
								p Экспоненты выставок — производители строительных и отделочных материалов, застройщики и девелоперы, подрядчики, производители и поставщики продукции для строительства и дизайна.
								p В программу выставочных мероприятий  входят разнообразные образовательные семинары и мастер-классы, акции и розыгрыши призов.
								p Посетив выставки, гости и участники получат возможность узнать подробности розыгрыша автомобиля от компании «Чистый берег». Акция официально стартует с 1 марта и продлится до 15 декабря 2016 года. Ценный приз будет продемонстрирован в выставочном павильоне.
								.img-center
									img(src="content/news/news-content.jpg", alt="")
								p
									b Дополнительная информация:
								p На протяжении уже 44 лет выставки и форумы, организованные ООО «ЭкспоСистемс», помогают белорусским и зарубежным компаниям находить надежных партнеров, развивать перспективные технологии, увеличивать продажи.
								p Ждем Вас в минском Дворце спорта (пр. Победителей, 4) со 2 по 4 марта 2016 года. Время проведения: 2 и 3 марта с 10.00 до 19.00, 4 марта с 10.00 до 16.00.
								p Убеждены, что вы по достоинству оцените новый формат мероприятия, разработанный специалистами компании «ЭкспоСистемс».
								p С более подробной информацией можно ознакомиться здесь: <a class="link" href="http://belarusdom.by">belarusdom.by</a>
								p Это интересно! Присоединяйтесь к нам в соцсетях:
								p Facebook: <a class="link" href="https://www.facebook.com/events/202400720096777/">https://www.facebook.com/events/202400720096777/</a>
								p Вконтакте: <a class="link" href="https://vk.com/event100425635">https://vk.com/event100425635</a>
								p Подробная информации по тел. в Минске: +375 17 237-20-50, +375 29 625-71-25
								p e-mail: <a class="link" href="mailto:info@exposystems.by">info@exposystems.by</a>
