extends ./includes/layout.jade

block link
	-var active = 'contacts';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "", "title": "Контакты"}]
		.wrap-content
			include ./includes/breadcrumbs
			.wrap-content__left
				.static-page
					.section
						.section__title Контакты
						.section__content
							.content-text
								.form-fieldset
									.row
										.col-xs-12.col-sm-3.col-md-2
											.control-label.control-label--top Телефоны:
										.col-xs-12.col-sm-9.col-md-10
											p в Москве: +7 (495) 369-99-99 <br />в Минске: +375 (29) 155-66-66
								.form-fieldset
									.row
										.col-xs-12.col-sm-3.col-md-2
											.control-label.control-label--top skype:
										.col-xs-12.col-sm-9.col-md-10
											p produkty.pro
								.form-fieldset
									.row
										.col-xs-12.col-sm-3.col-md-2
											.control-label.control-label--top e-mail:
										.col-xs-12.col-sm-9.col-md-10
											p produkty.pro@mail.ru
								.form-fieldset
									.row
										.col-xs-12.col-sm-3.col-md-2
											.control-label.control-label--top Складской терминал:
										.col-xs-12.col-sm-9.col-md-10
											p РФ, г. Наро-Фоминск, Московская 15, Киевское шоссе
								.form-fieldset
									.row
										.col-xs-12.col-sm-12.col-md-12
											.control-label.control-label--top Наш офис в Москве:
										.col-xs-12.col-sm-12.col-md-12
											p Место для карты
