extends ./includes/layout.jade

block link
	-var active = 'lk';
block content
	.container
		.section
			.section__content
				.wrap-content__left
					.personal
						.personal-nav
							.row.no-margin
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="user.html") Личные данные
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="company.html") Компания
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item.active
									a.personal-nav-target(href="#") Техподдержка
						.personal-content
							.form-fieldset
								.row
									.col-xs-12.col-sm-4.col-md-3
										.control-label Вопросы и ответы
									.col-xs-12.col-sm-8.col-md-6
										#list-collapse.list-collapse.list-increment
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_1", aria-expanded="true") Сколько стоит отправить заявку с помощью сервиса Тендер?
												#list-collapse-item_1.list-collapse-body.collapse Тендер — это бесплатный сервис для отправки заявок поставщикам строительных материалов и услуг.
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_2", aria-expanded="true") Как быстро отправляется заявка поставщику?
												#list-collapse-item_2.list-collapse-body.collapse При наличии предложений заявка отправляется поставщику в течение часа по будням с 8:30 до 17:30.
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_3", aria-expanded="true") Что делать, если заявка отклонена?
												#list-collapse-item_3.list-collapse-body.collapse Отредактируйте заявку в соответствии с рекомендациями, указанными в комментарии, и отправьте ее снова.
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_4", aria-expanded="true") Почему моя заявка отложена?
												#list-collapse-item_4.list-collapse-body.collapse Если у отправленной заявки появился статус «Отложена», то в данный момент на Stroyka.by нет поставщиков нужного вам товара. Как только товар появится, на электронную почту вам будет выслано соответствующее уведомление, а статус заявки изменится. Если заявка все еще будет актуальной — отправьте ее заново и ждите откликов.
											.panel
												a.list-increment__item.list-collapse-handle.collapsed(data-toggle="collapse", data-parent="#list-collapse", href="#list-collapse-item_5", aria-expanded="true") По какому принципу выбираются поставщики, которым отправляются заявки?
												#list-collapse-item_5.list-collapse-body.collapse Заявки отправляются всем поставщикам, которые рекламируют запрашиваемый товар на портале produkty.biz.
							.form-fieldset
								form.form-horizontal(autocomplete="off", action="")
									.row
										.col-xs-12.col-sm-4.col-md-3
											.control-label Не нашли ответ?
											.control-label-edit Напишите нам
										.col-xs-12.col-sm-8.col-md-8
											.form-group
												.col-xs-12.col-sm-9.col-md-12
													textarea.form-control.js-require(id="comment", placeholder="Ваш вопрос *", type="text", name="comment", tabindex="1", value="", rows="6", cols="15")
											.form-group
												.col-xs-12.col-sm-9.col-md-8
													.btn-group-inline
														a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
