extends ./includes/layout.jade

block content
	.container
		.products-top
			.products-top-list
				.products-top-item
					.products-top-item__inner
						.b-table
							.b-table__cell-middle
								.products-top-item__title Быстрые продажи
								a.btn.btn--sm.btn--rounded.btn--green-transparent(href="#") сформировать заявку
				.products-top-item.products-top-item--img
					a.products-top-item__inner.bg-hover-blue(href="#", style="background-image: url('content/banner-small/product_milk.png');")
						.b-table
							.b-table__cell-bottom
								.products-top-item__title Молоко<br />Сыры<br />Кисломолочка
				.products-top-item.products-top-item--img
					a.products-top-item__inner.bg-hover-red(href="#", style="background-image: url('content/banner-small/product_chicken.png');")
						.b-table
							.b-table__cell-bottom
								.products-top-item__title Замороженная птица<br />Охлажденная птица<br />Полуфабрикаты<br />Яйца
				.products-top-item.products-top-item--img
					a.products-top-item__inner.bg-hover-green(href="#", style="background-image: url('content/banner-small/product_meat.png');")
						.b-table
							.b-table__cell-bottom
								.products-top-item__title Охлажденное<br />Замороженное мясо
		.section
			.section__title Каталог
			.section__subtitle 18 234 товарных предложения
			.catalog
				-var catalog_1 = [{"src": "content/catalog/img-1.jpg", "url": "#", "title": "Молоко", "alt": "Молоко"}, {"src": "content/catalog/img-2.jpg", "url": "#", "title": "Сыры Козьи&nbsp;и&nbsp;овечьи", "alt": "Сыры Козьи и овечьи"}, {"src": "content/catalog/img-3.jpg", "url": "#", "title": "Сыры мягкие с&nbsp;белой плесенью", "alt": "Сыры мягкие с белой плесенью"}, {"src": "content/catalog/img-4.jpg", "url": "#", "title": "Сыры мягкие с&nbsp;обмытыми краями", "alt": "Сыры мягкие с обмытыми краями"}, {"src": "content/catalog/img-5.jpg", "url": "#", "title": "Сыры голубые", "alt": "Сыры голубые"}, {"src": "content/catalog/img-6.jpg", "url": "#", "title": "Сыры плавленые", "alt": "Сыры плавленые"}, {"src": "content/catalog/img-7.jpg", "url": "#", "title": "Сыры свежие", "alt": "Сыры свежие"}, {"src": "content/catalog/img-8.jpg", "url": "#", "title": "Сыры рассольные", "alt": "Сыры рассольные"}, {"src": "content/catalog/img-9.jpg", "url": "#", "title": "Сыры твердые", "alt": "Сыры твердые"}, {"src": "content/catalog/img-10.jpg", "url": "#", "title": "Сыры творожные", "alt": "Сыры творожные"}, {"src": "content/catalog/img-11.jpg", "url": "#", "title": "Десерты", "alt": "Десерты"}, {"src": "content/catalog/img-12.jpg", "url": "#", "title": "Йогурты", "alt": "Йогурты"}, {"src": "content/catalog/img-13.jpg", "url": "#", "title": "Кисломолочные напитки", "alt": "Кисломолочные напитки"}, {"src": "content/catalog/img-14.jpg", "url": "#", "title": "Коктейли", "alt": "Коктейли"}, {"src": "content/catalog/img-15.jpg", "url": "#", "title": "Масло сливочное", "alt": "Масло сливочное"}, {"src": "content/catalog/img-16.jpg", "url": "#", "title": "Молочные продукты для детского питания", "alt": "Молочные продукты для детского питания"}, {"src": "content/catalog/img-17.jpg", "url": "#", "title": "Сливки", "alt": "Сливки"}, {"src": "content/catalog/img-18.jpg", "url": "#", "title": "Сметана", "alt": "Сметана"}, {"src": "content/catalog/img-19.jpg", "url": "#", "title": "Творог и&nbsp;творожные изделия", "alt": "Творог и творожные изделия"}, {"src": "content/catalog/img-20.jpg", "url": "#", "title": "Функциональные молочные продукты", "alt": "Функциональные молочные продукты"}]
				.catalog-nav
					.row.no-margin
						.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.catalog-nav__item
							.catalog-nav-target Молочные продукты 
							ul.catalog-subnavbar
								each val in catalog_1
									li
										a(href=val.url) !{val.title}
						.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.catalog-nav__item
							.catalog-nav-target Мясо, Полуфабрикаты
							ul.catalog-subnavbar
								each val in catalog_1
									li
										a(href=val.url) !{val.title}
						.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.catalog-nav__item
							.catalog-nav-target Мясо, Полуфабрикаты
							ul.catalog-subnavbar
								each val in catalog_1
									li
										a(href=val.url) !{val.title}
						.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.catalog-nav__item
							.catalog-nav-target Услуги
							ul.catalog-subnavbar
								each val in catalog_1
									li
										a(href=val.url) !{val.title}
					.catalog-nav__arrow
						img(src="f/i/null.gif")
				.catalog-pane
					.catalog-pane__item.fade
						.row.catalog-list.no-margin
							each val in catalog_1
								.catalog-list__item.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding
									a.catalog-item(href=val.url)
										.catalog-item__media
											img(src=val.src, alt=val.alt)
										.catalog-item__info !{val.title}
					.catalog-pane__item.fade
						.row.catalog-list.no-margin
							each val in catalog_1
								.catalog-list__item.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding
									a.catalog-item(href=val.url)
										.catalog-item__media
											img(src=val.src, alt=val.alt)
										.catalog-item__info !{val.title}
					.catalog-pane__item.fade
						.row.catalog-list.no-margin
							each val in catalog_1
								.catalog-list__item.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding
									a.catalog-item(href=val.url)
										.catalog-item__media
											img(src=val.src, alt=val.alt)
										.catalog-item__info !{val.title}
					.catalog-pane__item.fade
						.row.catalog-list.no-margin
							each val in catalog_1
								.catalog-list__item.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding
									a.catalog-item(href=val.url)
										.catalog-item__media
											img(src=val.src, alt=val.alt)
										.catalog-item__info !{val.title}
		.section.section-news
			.section__title Новости
			.section-content
				-var list_news = [{"src": "content/news-main/img-1.jpg", "title": "В Перми завершилась выставка «АгроУрал-2016»", "category": "Выставки"}, {"src": "content/news-main/img-2.jpg", "title": "Инвестиции в будущее", "category": "Животноводство"}, {"src": "content/news-main/img-3.jpg", "title": "В мульчу или в полоску?", "category": "Растениеводство"}, {"src": "content/news-main/img-4.jpg", "title": "Соя на любой вкус", "category": "Растениеводство"}, {"src": "content/news-main/img-5.jpg", "title": "«Зеленые» тренды", "category": "Агроэнергетика"}]
				.row
					each val, index in list_news
						if(index <= 1)
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.section-news-item.section-news-item--big
									.section-news-item__media(style='background-image: url("'+ val.src + '")')
									.section-news-item__content
										.section-news-item__title !{val.title}
										.section-news-item__info
											a(href="conference.html") #{val.category}
						else
							.col-xs-12.col-sm-4.col-md-4.col-lg-4
								.section-news-item
									.section-news-item__media(style='background-image: url("'+ val.src + '")')
									.section-news-item__content
										.section-news-item__title !{val.title}
										.section-news-item__info
											a(href="conference.html") #{val.category}
				.row
					.col-xs-12.col-sm-12.col-md-12
						a.btn.btn--md.btn--green-transparent.btn--rounded(href="#") читать все новости
		.section
			.tender
				.tender__container
					.row
						.col-xs-12.col-sm-12.col-md-12
							.tender__title Быстрые продажи
					.row
						.col-xs-12.col-sm-12.col-md-4
							.tender-content
								.tender-content__header Быстрая регистрация&nbsp;<span class="tender__arrow">&rarr;</span>
								.tender-content__info.text-sm Вы регистрируетесь и&nbsp;быстро формируете заявки
								a.btn.btn--green.btn--rounded.btn--md(href="#") сформировать заявку
						.col-xs-12.col-sm-6.col-md-4.tender__overlay
							.b-table.tender-content
								.b-table__cell-top
									.tender-content__header Отправка заявок&nbsp;<span class="tender__arrow">&rarr;</span>
									.tender-content__info.text-sm Тендер рассылает ваши заявки поставщикам, которые продают нужные Вам товары на produkty.biz Поставщики получают заявки в&nbsp;Cвой кабинет рекламодателя и&nbsp;на&nbsp;электронную почту
						.col-xs-12.col-sm-6.col-md-4.tender__overlay
							.b-table.tender-content
								.b-table__cell-top
									.tender-content__header Выбор поставщика
									.tender-content__info.text-sm Вы получаете отклики по&nbsp;электронной почте и&nbsp;телефону и&nbsp;выбираете нужного Вам поставщика
