extends ./includes/layout.jade

block link
	-var active = 'login';
block content
	.container
		.section.section--offset-top
			.section__title
				.btn-group-inline.btn--wide Вход
				.btn-group-inline.btn--wide
					a.link(href="user.html") Регистрация
			.section__content
				p.text-md Мы делаем все возможное, чтобы покупатели и продавцы нашли друг друга
			.form-fieldset
				form.form-horizontal(autocomplete="off", action="")
					.row
						.col-xs-12.col-sm-6.col-md-5
							.control-label.control-label--top.text-md Заполните данные для регистрации
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input.form-control.js-require(id="email", placeholder="Почта *", type="text", name="email", maxlength="100", tabindex="1", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input.form-control.js-require(id="password", placeholder="Пароль *", type="text", name="password", maxlength="100", tabindex="2", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input.form-control.js-require(id="confirmpassword", placeholder="Подтвердите пароль", name="confirmpassword", type="password", tabindex="3", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									p
										input.btn.btn--green.btn--lg.btn--rounded(type="submit", value="Зарегистрироваться")
									p.text-mutter Нажав на&nbsp;кнопку &laquo;Зарегистрироваться&raquo;, Вы&nbsp;соглашаетесь c&nbsp;<a class="link"  href="#">правилами пользования</a> портала produkty.biz.
