extends ./includes/layout.jade

block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "", "title": "Новости"}]
		.wrap-content
			include ./includes/breadcrumbs
			include ./includes/right-menu-content
			.wrap-content__left
				.static-page
					.section
						.section__title Новости
							.section__target.visible-xs-block.visible-sm-block.visible-md-block
								a.js-menu-collapse(href="#") Все новости
						.section__content
							.news-list.js-fixed-height
								.row
									-var news_list = [{"src": "content/news/item-1.jpg", "url": "conference.html", "category": "Выставки", "title": "В&nbsp;Перми завершилась выставка &laquo;АгроУрал-2016&raquo;", "date": "8 апреля 2016"}, {"src": "content/news/item-2.jpg", "url": "conference.html", "category": "Животноводство", "title": "Инвестиции в&nbsp;будущее", "date": "12 марта 2016"}, {"src": "content/news/item-3.jpg", "url": "conference.html", "category": "Растениеводство", "title": "В&nbsp;мульчу или в&nbsp;полоску", "date": "1 марта 2016"}, {"src": "content/news/item-4.jpg", "url": "conference.html", "category": "Растениеводство", "title": "Соя на&nbsp;любой вкус", "date": "8 апреля 2016"}, {"src": "content/news/item-5.jpg", "url": "conference.html", "category": "Обзоры", "title": "&laquo;Зеленые тренды&raquo;", "date": "12 марта 2016"}, {"src": "content/news/item-6.jpg", "url": "conference.html", "category": "Конференции", "title": "Проведение V&nbsp;Международного экономического форума &laquo;Инновации. Инвестиции. Перспективы&raquo;", "date": "1 марта 2016"}, {"src": "content/news/item-7.jpg", "url": "conference.html", "category": "технологии", "title": "С&nbsp;планшетом в&nbsp;кабине", "date": "27 февраля 2016"}, {"src": "content/news/item-8.jpg", "url": "conference.html", "category": "бизнес", "title": "Экономическая оценка инвестиций", "date": "21 февраля 2016"}, {"src": "content/news/item-9.jpg", "url": "conference.html", "category": "Животноводство", "title": "Опыт промышленного откорма пекинской утки", "date": "16 февраля 2016"}, {"src": "content/news/item-10.jpg", "url": "conference.html", "category": "актуально", "title": "В&nbsp;феврале российские и&nbsp;французские предприниматели обсудили плюсы и&nbsp;минусы ведения агробизнеса в&nbsp;нашей стране", "date": "11 февраля 2016"}, {"src": "content/news/item-11.jpg", "url": "conference.html", "category": "Конференции", "title": "В&nbsp;Москве прошла седьмая международная аграрная конференция &laquo;Где Маржа&raquo;.", "date": "9 февраля 2016"}, {"src": "content/news/item-12.jpg", "url": "conference.html", "category": "актуально", "title": "Новости АПК за&nbsp;рубежом #12", "date": "1 января 2016"}]
									each val in news_list
										.col-xs-12.col-sm-6.col-md-4
											.news-list-item.box
												.news-list-item__media.box-img
													img(src=val.src)
												.news-list-item__content.box-content
													.row
														.col-xs-7.col-sm-7.col-md-7
															a.news-list__target(href=val.url) #{val.category}
														.col-xs-5.col-sm-5.col-md-5
															.news-list__date #{val.date}
													.news-list__title !{val.title}

						.section__footer
							include ./includes/pagination
