extends ./includes/layout.jade

block link
	-var active = 'product';
block content
	.container
		block breadcrumb
			-var breadcrumbs_list = [{"url": "/", "title": "produkty.biz"}, {"url": "#", "title": "Молочные продукты"}, {"url": "", "title": "Йогурты"}]
		.wrap-content
			include ./includes/breadcrumbs
			.section
				.section__content
					.wrap-content__left
						.product-single
							.product-single-item
								.product-single-item__row
									.product-single-item__col-media
										.product-single-item__media
											img(src="content/product/img-1.jpg", alt="")
									.product-single-item__col-content
										.product-single-item__title Сыр Galbani Mozzarella Max 45%
										.tab
											ul.tab-nav.row.no-margin.product-single-item-nav
												li.tab-nav__item.col-xs-6.col-sm-3.col-md-2.no-padding.product-single-item-nav__handler
													a.tab-nav-handler(href="#tab-1") Описание
												li.tab-nav__item.col-xs-6.col-sm-3.col-md-2.no-padding.product-single-item-nav__handler
													a.tab-nav-handler(href="#tab-2") Характеристики
											.tab-content
												.tab-content__item.tab-pane.fade(id="tab-1")
													.product-single-item__info
														p Galbani Mozzarella Maxi – это свежая моцарелла для всей семьи. Сыр продается в рассоле, в новой цилиндрической упаковке.
														p Благодаря практичной расфасовке моцареллы в виде длинного цилиндра весом 250 г сыр очень легко нарезать, поэтому это оптимальный выбор для салатов, сэндвичей и пиццы. 
												.tab-content__item.tab-pane.fade(id="tab-2")
													.product-single-item__info
														p Galbani Mozzarella Maxi – это свежая моцарелла для всей семьи. Сыр продается в рассоле, в новой цилиндрической упаковке.
								.product-single-item-footer
									.product-single-item-footer__item
										.product-single-item__footer-nav.first 4 продавца
									.product-single-item-footer__item
										.product-single-item__footer-nav от <span>750 руб.</span> до  <span>3 499 руб</span>.
										.product-single-item__footer-info за упаковку с НДС

						mixin cat_item(_price, _src, _title, _text, _list, _seller, _class)
							.provide-list-container__item
								.provide-item
									.provide-item__row
										.provide-item__heading
											.provide-item-price(class=_class)
												.provide-item-price__title #{_price}
												.provide-item-price__text за упаковку с НДС
											.provide-item-thumbnail
												if(_src != "")
													.provide-item-thumbnail__media
														img(src=_src)
												.provide-item-thumbnail__title !{_title}
												.provide-item-thumbnail__text !{_text}
										.provide-item__content
											.provide-item__info
												each val in _list
													p !{val.text}
									.provide-item__row
										.provide-item__footer
											.provide-item-footer-nav
												each val in _seller
													.provide-item-footer-nav__item !{val.text}

						.provide-list
							.provide-list__heading
								.sort
									.sort__item
										.sort-target Сортировать по цене
								.filter
									.filter__item.checkbox-inline
										input#provide(type="checkbox", val="")
										label(for="provide") 1-й поставщик
									.filter__item.checkbox-inline
										input#fabric(type="checkbox", val="")
										label(for="fabric") Производитель
							.provide-list-container
								-var list = [{"text": "Производитель. Сертификат. Мин. партия 1 куб. м. Поставка по графику. Консультация специалиста. Доставка: самосвалом, автобетоносмесителями 6, 7, 8, 9, 10, 12 куб.м. Возможен самовывоз. Работаем согласно ГОСТу! Решим любую задачу. Узел возле МКАД. Профессиональные консультации."}, {"text": "Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами."}, {"text": "Специальные условия и цены: постоянным клиентам, строителям, оптовикам."}]
								-var seller = [{"text": "+375 29 394-55-42"}, {"text": "<span>Сайт: </span><a href='m200.by'>m200.by</a>"}, {"text": "<span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a>"}]
								+cat_item("от 7 900 руб.", "content/product/provide/img-1.jpg", "Романович А.А. ИП", "Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.", list, seller, "")
								-var list = [{"text": "Производитель. Сертификат. Мин. партия 1 куб. м. Поставка по графику. Консультация специалиста. Доставка: самосвалом, автобетоносмесителями 6, 7, 8, 9, 10, 12 куб.м. Возможен самовывоз. Работаем согласно ГОСТу! Решим любую задачу. Узел возле МКАД. Профессиональные консультации."}, {"text": "Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами."}, {"text": "Специальные условия и цены: постоянным клиентам, строителям, оптовикам."}]
								-var seller = [{"text": "+375 29 394-55-42"}, {"text": "<span>Сайт: </span><a href='m200.by'>m200.by</a>"}, {"text": "<span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a>"}]
								+cat_item("от 7 900 руб.", "content/product/provide/img-2.jpg", "Романович А.А. ИП", "Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.", list, seller, "")
								-var list = [{"text": "Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами."}]
								-var seller = [{"text": "+375 29 394-55-42"}, {"text": "+375 29 394-55-42"}]
								+cat_item("от 7 900 руб.", "content/product/provide/img-3.jpg", "Романович А.А. ИП", "Сегодня работаем с 08:00 до 20:00 Регион: Минск, Минская обл.", list, seller, "")
								-var list = [{"text": "Договор. Предоплата. Возможна оплата по факту поставки. Безнал; нал. расчет. Работаем с физлицами."}]
								-var seller = [{"text": "+375 29 394-55-42"}, {"text": "<span>Сайт: </span><a href='m200.by'>m200.by</a>"}, {"text": "<span>Эл. почта: </span><a href='mailto:info@m200.by'>info@m200.by</a>"}]
								+cat_item("Цену уточняйте", "", "Травкина Светлана Григорьевна ИП", "", list, seller, "provide-item-price--null")

							.provide-list__footer
								.content-text
									p Купить свежую моцарелла в Минске можно, воспользовавшись предложениями, представленными на нашем сайте. Выбирайте, сравнивайте и заказывайте грунт растительный на самых выгодных условиях. Узнать, сколько стоит, где купить, а также условия доставки вы можете с помощью каталога  и услуг produkti.biz
