extends ./includes/layout.jade

block link
	-var active = 'search';
block content
	.container
		.section.section--offset-top
			.section__title По&nbsp;вашему запросу ничего не&nbsp;найдено
			.section__content
				p.text-mutter Попробуйте упростить запрос или проверить на возможные опечатки и ошибки или <a class="link" href="#">выберите раздел вручную</a>.
