extends ./includes/layout.jade

block link
	-var active = 'lk';
block content
	.container
		.section
			.section__content
				.wrap-content__left
					.personal
						.personal-nav
							.row.no-margin
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item.active
									a.personal-nav-target(href="#") Личные данные
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="company.html") Компания
								.col-xs-12.col-sm-3.col-md-3.col-lg-2.no-padding.personal-nav__item
									a.personal-nav-target(href="faq.html") Техподдержка
						.personal-content
							.form-fieldset
								form.form-horizontal(autocomplete="off", action="")
									.row
										.col-xs-12.col-sm-4.col-md-3
											.control-label Персональные данные
										.col-xs-12.col-sm-8.col-md-6
											.form-group.has-error
												.col-xs-12.col-sm-7.col-md-8
													input.form-control.js-require(id="name", placeholder="Имя", type="text", name="name", maxlength="100", tabindex="1", value="ggd&&AGbdsb")
													span.error-message This field is required.
											.form-group
												.col-xs-12.col-sm-7.col-md-8
													input.form-control.js-require(id="fname", placeholder="Фамилия", type="text", name="fname", maxlength="100", tabindex="2", value="")
											.form-group
												.col-xs-12.col-sm-7.col-md-8
													input.form-control.js-require(id="email", placeholder="Почта *", type="text", name="email", maxlength="20", tabindex="3", value="")
											.form-group
												.col-xs-12.col-sm-7.col-md-8
													input.form-control.js-require(id="phone", placeholder="Телефон", type="text", name="phone", maxlength="20", tabindex="4", value="")
												.col-xs-12.col-sm-4.col-md-4.clone-this-wrapper
													a.btn.btn--blue.btn--xlg(href="#") Добавить телефон
											.form-group
												.col-xs-12.col-sm-7.col-md-8
													.btn-group-inline
														a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
													.btn-group-inline
														a.btn.btn--green-transparent.btn--lg.btn--rounded(href="#") Отменить
							.form-fieldset
								form.form-horizontal(autocomplete="off", action="")
									.row
										.col-xs-12.col-sm-4.col-md-3
											.control-label Смена пароля
											a.control-label-edit.js-form-edit(href="#") Изменить
										.col-xs-12.col-sm-8.col-md-6
											.js-form-enable(style="display: none;")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="password", placeholder="Текущий пароль", name="password", type="password", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="changepassword", placeholder="Новый пароль", name="changepassword", type="password", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														input.form-control.js-require(id="confirmpassword", placeholder="Подтвердите пароль", name="confirmpassword", type="password", value="")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														.btn-group-inline
															a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
														.btn-group-inline
															a.btn.btn--green-transparent.btn--lg.btn--rounded.js-form-lock(href="#") Отменить
											.js-form-disable
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														span.form-control-lock ******
							.form-fieldset
								form.form-horizontal(autocomplete="off", action="")
									.row
										.col-xs-12.col-sm-4.col-md-3
											.control-label Настройки оповещений
											a.control-label-edit.js-form-edit(href="#") Изменить
										.col-xs-12.col-sm-8.col-md-6
											.js-form-enable(style="display: none;")
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														.checkbox
															input(type="checkbox", val="", id="subscribe-email")
															label(for="subscribe-email") Получать информационные письма по эл. почте
														.checkbox
															input(type="checkbox", val="", id="subscribe-status")
															label(for="subscribe-status") Получать уведомления о смене статуса заявки
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														.btn-group-inline
															a.btn.btn--green.btn--lg.btn--rounded(href="#") Сохранить
														.btn-group-inline
															a.btn.btn--green-transparent.btn--lg.btn--rounded.js-form-lock(href="#") Отменить
											.js-form-disable
												.form-group
													.col-xs-12.col-sm-7.col-md-8
														span.form-control-lock Получать информационные письма по эл. почте:
															span.email-info Да
													.col-xs-12.col-sm-7.col-md-8
														span.form-control-lock Получать уведомления о смене статуса заявки:
															span.email-info Да
							.form-fieldset
								.row
									.col-xs-12.col-sm-12.col-md-12
										a.btn.btn--default-transparent.btn--xmd.btn--rounded(href="#") Удаление учетной записи
